<!DOCTYPE html>
<html lang="en"><head>
<title>About Lila's Ledger</title>
<meta property="og:title" content="Lila's Ledger About Page">
<meta property="og:description" content="Defi Kingdoms Transaction History reporting to help quantify potential taxable events.">
<meta property="og:image" content="{{ BASE_SCRIPT_URL }}static/images/favicon.png">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" type="text/css" href="/static/dfktax.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/jquery-ui.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/jquery-ui.structure.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/jquery-ui.theme.min.css" media="screen" />
<script src="/static/dfktax.js" type="text/javascript"></script>
<script src="/static/jquery.min.js"></script>
<script src="/static/jquery-ui.min.js"></script>
<script type="text/javascript">
</script>
<body>
<div style="height: 100px;">
<h1><span id="dfkrptTitle">DeFi Kingdoms: Lila's Ledger</span></h1>
</div>
<div class="reportPage" id="helpPage">
    <h2 style="text-align: center;">About Lila's Transaction History Service</h2>
    <p class="aboutTopic">Lila's Ledger was created in late 2021 as part of the first Defi Kingdoms code bounty for a Transaction History Report Generator.  After winning the bounty, Lila's Ledger continues to be updated to evolve along side the ever changing Defi-Kingdoms ecosystem.</p>
    <h3 class="helpTopic">Developer    <img src="{{ BASE_SCRIPT_URL }}static/images/MellowGreenGiant.png" alt="MellowGreenGiant" style="float:right;max-width:128px;"/></h3>
    <p class="aboutTopic">If you have suggestions or bugs to report, please start a discussion in GitHub with the Contact link below or contact me on Discord ioscode#9714.</p>
    <h3 class="helpTopic">Support Us</h3>
    <p class="aboutTopic">If you find this tool useful, and would like to help fund the costs involved with running it or show your appreciation, you are encourged to send Jewel, Crystal, or USDC on DFKChain to the following address:</p>
    <div style="text-align:center;color:green;">
      <h3>0x15Ca8d8d7048F694980C717369C55b53e4FbCAEe</h3>
      <img src="{{ BASE_SCRIPT_URL }}static/images/jewel.png" style="max-width:32px;"/>
    </div>
    <p class="aboutTopic">We have a goal of collecting 30 USD value of donations per month to cover the server hosting costs.</p>
</div>
<div class="footer">
	<a href="{{ BASE_SCRIPT_URL }}" title="Report page">Home</a> | <a href="{{ BASE_SCRIPT_URL }}help" title="Get help">Help</a> | <a href="https://github.com/pwillworth/dfkreport" title="Open Source Code for the application">Source</a> | <a href="https://github.com/pwillworth/dfkreport/discussions" title="Ask questions or submit ideas">Contact</a> | <a href="{{ BASE_SCRIPT_URL }}about" title="Support us and get info">About</a>
	<p style="padding: 4px;font-weight:normal;">This utility is intended to help quantify potential taxable events for account activity within the <a href="https://defikingdoms.com">DeFi Kingdoms</a> game.  It makes no claims at being a full accounting of your tax liablity.</p>
</div>
<div id="frame_box" style="display:none;"></div>
</body></html>
