<!DOCTYPE html>
<html lang="en"><head>
<title>Lila's Ledger - Home</title>
<meta property="og:title" content="Lila's Ledger">
<meta property="og:description" content="Defi Kingdoms Transaction History reporting on trade performance.">
<meta property="og:image" content="{{ BASE_SCRIPT_URL }}static/images/favicon.png">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" type="text/css" href="/static/dfktax.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/jquery-ui.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/jquery-ui.structure.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/jquery-ui.theme.min.css" media="screen" />
<script src="/static/dfktax.js" type="text/javascript"></script>
<script src="/static/jquery.min.js"></script>
<script src="/static/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.4-rc.1/web3.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
    isConnected()
    $("#busyImg").css("display","none");
    $( ".dateBox" ).datepicker({
      dateFormat: "yy-mm-dd"
    });
    optionsReset();
    let interval = setInterval(() => {
      refreshLists();
    }, 60000);
    $('.txHeader').hover(function() {
      $( this ).addClass('goldBorder');
    }, function() {
      $( this ).removeClass('goldBorder');
    });
    $('.txHeader').click(function() {
      $( this ).next('div').toggle(500);
      imgInd = $( this ).find('img');
      if ( $( imgInd ).attr('src') == '{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png') {
        $( this ).find('img.txIndicator').attr('src', '{{ BASE_SCRIPT_URL }}static/images/downArrowGrey16.png');
      } else {
        $( this ).find('img.txIndicator').attr('src', '{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png');
      }
    });
});
window.ethereum.on('accountsChanged', function (accounts) {
  console.log(`wallet changed to ${accounts[0]}!`);
  resetConnection();
  handleAccountsChanged(accounts);
});
$( function() {
    $( "#mappingProgress" ).progressbar({
      value: false,
      max: 2000
    });
  } );
// Restore defaults for options
function optionsReset() {
  $("#optHarmony").prop('checked', false);
  $("#optDFKChain").prop('checked', true);
  $("optKlaytn").prop('checked', true);
  // Default to month start to yesterday or last month if the 1st
  var dt = new Date();
  var setMonth = dt.getMonth()+1;
  if (dt.getDate() == 1) {
    dt.setTime(dt.getTime() - (24*60*60*1000));
    setMonth = dt.getMonth();
  }
  setMonth = ('0' + setMonth).slice(-2);
  var setDay = ('0' + (dt.getDate()-1)).slice(-2);
  $("#startDate").val(dt.getFullYear() + "-" + setMonth + "-01");
  $("#endDate").val(dt.getFullYear() + "-" + setMonth + "-" + setDay);
  $("#fifo").attr('checked', 'checked');
  $("#manual").attr('checked', 'checked');
  $("#purchaseAddresses").val('');
  $('#addressEntry').hide();
}
function refreshLists() {
  if (sid != '' && '{{ memberState }}' == '2') {
    loadGroupSel();
    $('#multiWalletSelect').show();
  } else {
    $('#multiWalletSelect').hide();
  }
  if ($('#generateSection').css('display') == 'block') {
    checkData();
  }
}
function loadGroupSel() {
  $.post(BASE_SCRIPT_URL + "getGroupList", {
    account: selectedAccount,
    sid: sid}, function ( data ) {
      if ('error' in data) {
        console.log(data['error']);
      } else {
        var groupSel = document.getElementById('groupSel');
        groupSel.innerHTML = '';
        data['groups'].forEach(item => {
          var opt = document.createElement("option");
          opt.text = item[1];
          groupSel.add(opt);
        });
        var addr = document.getElementById('ethAddress');
        if (addr.value == '') {
          addr.value = groupSel.value;
        }
      }
    }, "json"
  );
}
function checkData(startUpdate=false) {
  if ($('#ethAddress').val() != '') {
    if (startUpdate) {
      $("#dataUpdatingMessage").show(500);
    }
    $("#generateSection").css("display","block");
    $.post(BASE_SCRIPT_URL + "generate", {
      triggerUpdate: startUpdate,
      walletAddress: $('#ethAddress').val(),
      includeHarmony: $('input[name=optHarmony]:checked').val(),
      includeDFKChain: $('input[name=optDFKChain]:checked').val(),
      includeKlaytn: $('input[name=optKlaytn]:checked').val(),
      startDate: $('#startDate').val(),
      endDate: $('#endDate').val(),
      account: selectedAccount,
      sid: sid}, function( data ) {
        if (data.response.status != undefined) {
          if (data.response.status == 'complete') {
            $("#generateSection").css("display","none");
            $("#needDataLoad").css("display","none");
            return true;
          } else if (data.response.processing == 1) {
            $("#needDataLoad").css("display","none");
            $("#dataUpdatingMessage").css("display","block");
            walletRecords = data.response.wallet_records;
            reportTable(walletRecords);
          } else {
            $("#needDataLoad").css("display","block");
            walletRecords = data.response.wallet_records;
            reportTable(walletRecords);
          }
        } else {
          alert(data.response);
        }
      }, "json"
    );
    return false;
  }
}
function setActiveLauncher(launcher) {
  $(".reportLauncher").removeClass('reportLauncherActive');
  $("#" + launcher + "_report").addClass('reportLauncherActive');
}
function getReport(reportType) {
  setActiveLauncher(reportType);
  $("#loadingSection").css("display","block");
  $.post(BASE_SCRIPT_URL + "pnl/" + reportType,{
    walletAddress: $('#ethAddress').val(),
    includeHarmony: $('input[name=optHarmony]:checked').val(),
    includeDFKChain: $('input[name=optDFKChain]:checked').val(),
    includeKlaytn: $('input[name=optKlaytn]:checked').val(),
    startDate: $('#startDate').val(),
    endDate: $('#endDate').val(),
    account: selectedAccount,
    sid: sid}, function( data ) {
      if (reportType == 'duels') {
        loadReportDuels(data.response);
      } else {
        loadReportPNL(data.response, reportType);
      }
      $("#loadingSection").css("display","none");
    }, "json"
  );
  return false;
}
// Load the old report in two steps after it is done, first tax report, then events
function viewReport(account, contentType, generateAddress, generateStart, generateEnd, includeHarmony='false', includeDFKChain='false', includeKlaytn='false', eventGroup='all') {
  $("#loadingSection").css("display","block");
  setActiveLauncher('tx');
  $.post(BASE_SCRIPT_URL + "pnl/tax",{
        account: account,
        walletAddress: generateAddress,
        includeHarmony: includeHarmony,
        includeDFKChain: includeDFKChain,
        includeKlaytn: includeKlaytn,
        startDate: generateStart,
        endDate: generateEnd,
        contentType: contentType,
        eventGroup: eventGroup,
        sid: sid}, function( data ) {
          var delay = 0;
          if (contentType == 'tax' || eventGroup == 'all') {
            if (contentType == 'tax') {
              $('#pnl_data').show();
              loadReport(data.response, contentType);
            } else {
              $("#mappingSection").css("display","block");
              for (let i = 0; i < event_groups.length; i++) {
                delay = i*2000;
                setTimeout(`viewReport("${account}","transaction","${generateAddress}","${generateStart}","${generateEnd}","${includeHarmony}","${includeDFKChain}","${includeKlaytn}","${event_groups[i]}")`, delay);
              }
            }
          } else {
            reportRecords = data.response.event_records;
            if (reportRecords != 'undefined') {
              loadReport(data.response, contentType, eventGroup);
              if (eventGroup == event_groups[event_groups.length-1]) {
                $("#mappingSection").css("display","none");
                $("#mappingProgress").progressbar( "option", "value", false);
                $("#mappingMessage").html("Loading Transactions...");
              }
            }
          }
          $("#loadingSection").css("display","none");
        }, "json"
    );
    return false;
}
function reportTable(data) {
  const reportStatus = ['Created','Processing','Complete','unknown','unknown','unknown','unknown','unknonw','Blockchain Error', 'Site Error'];
  var listElm = document.getElementById('reportList');
  var newRow = document.createElement('tr');
  listElm.innerHTML = '';
  newRow.innerHTML = '<th>Wallet</th><th>Network</th><th>Status</th><th>Updated Through</th><th>Transactions</th><th>Percent Complete</th>';
  listElm.appendChild(newRow);
  data.forEach((reporto) => {
    if (reporto['py/tuple'] != undefined) {
      var report = reporto['py/tuple'];
    } else {
      var report = reporto;
    }
    if ( report[0].substring(0, 2) == '0x' ) {
      var addr = report[0].substring(0, 6) + '...' + report[0].substring(38, 42);
    } else {
      var addr = report[0];
    }
    var progress = 0;
    var status = reportStatus[report[3]];
    if (report[6] == 0) {
      status = 'Pending'
    }
    if (report[3] == 0) {
      progress = Math.min(getProgress('fetchingtx', report[7], report[8], report[9])*100, 100);
    } else if ( report[3] == 2 ) {
      progress = 100;
    } else {
      progress = Math.min(getProgress('generating', report[9], report[8], report[9])*100, 100);
    }
    var newRow = document.createElement('tr');
    var pAnimate = '';
    var txString = report[9];
    if (report[3] < 2) {
      pAnimate = '<div class="lds-ripple"><div></div><div></div></div>';
      var updateThroughTimestamp = report[5]
      txString = `${report[8]}/${report[9]}`;
    } else {
      var updateThroughTimestamp = Math.max(report[5], report[6]);
    }
    updateThroughDate = new Date(updateThroughTimestamp * 1000).toLocaleDateString();
    newRow.innerHTML = `<td>${addr}</td><td>${report[1]}</td><td>${status}${pAnimate}</td><td>${updateThroughDate}</td><td>${report[8]}/${report[9]}</td><td>${progress.toFixed(0)}%</td>`;
    listElm.appendChild(newRow);
  });
}
// Switch between Export, PNL Summary, and Transaction report views
function switchView(view) {
  if (view == 'export') {
    currentView = 'export';
    $("#transactionReport").hide(500);
    $("#reportContent").hide(500);
    $("#exportContent").show(500);
    $('#summaryReport').hide(500);
  } else if (view == 'transaction') {
    currentView = 'transaction';
    $("#exportContent").hide(500);
    $("#reportContent").hide(500);
    $("#transactionReport").show(500);
    $('#summaryReport').show(500);
  } else {
    currentView = 'pnl';
    $("#exportContent").hide(500);
    $("#transactionReport").hide(500);
    $("#reportContent").show(500);
    $('#summaryReport').hide(500);
  }
}
async function exportData(format) {
  document.getElementById("exportCSV").disabled = true;
  $("#loadingCSV").show();
  $(".reportLauncher").removeClass('reportLauncherActive');
  var walletAddress = encodeURIComponent($('#ethAddress').val());
  var includeHarmony = $('input[name=optHarmony]:checked').val();
  var includeDFKChain = $('input[name=optDFKChain]:checked').val();
  var includeKlaytn = $('input[name=optKlaytn]:checked').val();
  var startDate = $('#startDate').val();
  var endDate = $('#endDate').val();
  var account = encodeURIComponent(selectedAccount);
  var csvFormat = $('input[name=csvf]:checked').val();
  var url = `${BASE_SCRIPT_URL}csv?formatType=${format}&csvFormat=${csvFormat}&walletAddress=${walletAddress}&account=${account}&includeHarmony=${includeHarmony}&includeDFKChain=${includeDFKChain}&includeKlaytn=${includeKlaytn}&startDate=${startDate}&endDate=${endDate}&sid=${sid}`;
  var htm = '<iframe src="' + url + '" onload="downloadDone()"></iframe>';
  document.getElementById('frame_box').innerHTML = htm;
}
function downloadDone() {
  document.getElementById("exportCSV").disabled = false;
  $("#loadingCSV").hide();
}
</script>
<body>
<div>
  <h1><span id="dfkrptTitle">DeFi Kingdoms: Lila's Ledger</span>
    <div style="float:right;margin-top:-16px;" id="loginBlock"><input id="connectWallet" type="button" value="Connect Wallet" onclick="connect();" class="lButton"><span id="member"></span><input id="loginButton" type="button" value="Login" onclick="login(true);" class="lButton" style="display:none;"><input id="logoutButton" type="button" value="Logout" onclick="logout();" class="lButton" style="display:none;"></div>
    <div style="float:right;"><a href="{{ BASE_SCRIPT_URL }}member" title="go to member setup page"><img src="{{ BASE_SCRIPT_URL }}static/images/account.png" style="max-width:48px;margin-right:14px;"/></a></div>
  </h1>
</div>
<div id="mainContent" class="wrapper">
  <div id="leftNavContent" class="ghCol">
    <div id="reportCriteria" class="ghWidgetBox ui-widget-content">
      <form id="reportSearch" name="reportSearch">
      <div class="boxHeader ui-widget-header">Report Options
        <a href="{{ BASE_SCRIPT_URL }}help" alt="read documentation"><img src="{{ BASE_SCRIPT_URL }}static/images/help.png" style="max-width: 22px;float:right;"/></a></href>
      </div>
      <div id="multiWalletSelect" style="display:none;margin: 8px;">
        <label for="groupSel">Multi-Wallet:</label>
        <select name="groupSel" id="groupSel" class="popSel" onchange="$('#ethAddress').val($(this).val())"></select>
        <span style="font-weight: 800;">or</span>
      </div>
      <div style="margin: 8px;">
        <label for="ethAddress">Eth Address:</label>
        <input type=text id="ethAddress" name="ethAddress" style="font-size: 16px;margin-bottom:16px;" size=40 placeholder="Wallet Address 0x..." onchange="checkData();"/>
      </div>
      <div class="sectionHead"></div>
      <fieldset class="chainSelect" style="margin:8px;">
        <input type="checkbox" id="optHarmony" name="optHarmony" onchange="checkData();"/>
        <label for="optHarmony" title="Toggle to include Harmony data"><img src="{{ BASE_SCRIPT_URL }}static/images/harmony.png" class="chainButton"/></label>
        <input type="checkbox" id="optDFKChain" name="optDFKChain" checked="checked" onchange="checkData();"/>
        <label for="optDFKChain" title="Toggle to include DFK Chain (Crystalvale) data"><img src="{{ BASE_SCRIPT_URL }}static/images/dfk-chain.png" class="chainButton"/></label>
        <input type="checkbox" id="optKlaytn" name="optKlaytn" checked="checked" onchange="checkData();"/>
        <label for="optKlaytn" title="Toggle to include Klaytn data"><img src="{{ BASE_SCRIPT_URL }}static/images/klaytn.png" class="chainButton"/></label>
      </fieldset>
      <div class="sectionHead" style="clear:both;"></div>
      <fieldset id="dateRangeSet">
        <div id="dateSetBox">
          <div>Start Date: <input class="dateBox" type="text" id="startDate" size=10 onchange="checkData();" /></div>
          <div class="sectionHead"></div>
          <div>End Date: <input class="dateBox" type="text" id="endDate" size=10 onchange="checkData();" /></div>
        </div>
      </fieldset>
      <div class="sectionHead"></div>
      <div class="searchInput" style="text-align:center">
        <input type="button" value="Reset" class="ui-button" onclick="optionsReset()"/>
      </div>
      </form>
      <div id="opaqueIcon"><img src="{{ BASE_SCRIPT_URL }}static/images/favicon.png" style="max-width: 64px;opacity: 50%;" /></div>
    </div>
    <div id="csv_report" class="ghWidgetBox ui-widget-content" onclick="switchView('export')">
      <img src="{{ BASE_SCRIPT_URL }}static/images/airdrop.png" /><span>CSV Export</span>
    </div>
    <div id="supportBox" class="ghWidgetBox" style="height:280px;text-align: center;background-image: url({{ BASE_SCRIPT_URL }}static/images/{{ bankState }}.jpg);background-repeat:no-repeat;">
      <h3 style="margin-bottom: 60px;margin-top: 20px;">{{ bankMessage | safe }}</h3>
      <h1 id="bankProgress" title="Total amount of donations received this month." style="margin-bottom: 60px;">{{ bankProgress }}</h1>
      <img src="{{ BASE_SCRIPT_URL }}static/images/jewel.png" style="max-width:32px;"/>
      <div class="inlineBlock"><a class="orphanButton" href="{{ BASE_SCRIPT_URL }}about" target="_blank">Donate Now</a></div>
      <img src="{{ BASE_SCRIPT_URL }}static/images/crystal.png" style="max-width:32px;"/>
    </div>
  </div>
  <div id="rightMainContent" class="ghCol">
    <div id="reportContainer" class="ghWidgetBox ui-widget-content">
      <div class="boxHeader ui-widget-header" style="height:24px;">
        <div id="results_title" style="float:left;">Select Report</div>
        <div id="tax_report" style="float:right;font-size:16px;font-weight:normal;cursor:pointer;" onclick="switchView('pnl');viewReport(selectedAccount, 'tax', $('#ethAddress').val(), $('#startDate').val(), $('#endDate').val(), $('input[name=optHarmony]:checked').val(), $('input[name=optDFKChain]:checked').val(), $('input[name=optKlaytn]:checked').val());">
          [legacy Tax report]
        </div>
      </div>
      <div id="reportInfo">
        <div id="selectReportSection">
          <div id="tokens_report" class="inlineBlock reportLauncher" onclick="switchView('pnl');getReport('tokens')">
            <img src="{{ BASE_SCRIPT_URL }}static/images/bank.png" /><span>Tokens</span>
          </div>
          <div id="crafting_report" class="inlineBlock reportLauncher" onclick="switchView('pnl');getReport('crafting')">
            <img src="{{ BASE_SCRIPT_URL }}static/images/alchemist.png" /><span>Crafting</span>
          </div>
          <div id="nft_report" class="inlineBlock reportLauncher" onclick="switchView('pnl');getReport('nft')">
            <img src="{{ BASE_SCRIPT_URL }}static/images/beer.png" /><span>NFTs</span>
          </div>
          <div id="duels_report" class="inlineBlock reportLauncher" onclick="switchView('transaction');getReport('duels')">
            <img src="{{ BASE_SCRIPT_URL }}static/images/s2-warr-trophy.png" /><span>Duels</span>
          </div>
          <div id="tx_report" class="inlineBlock reportLauncher" onclick="switchView('transaction');viewReport(selectedAccount, 'transaction', $('#ethAddress').val(), $('#startDate').val(), $('#endDate').val(), $('input[name=optHarmony]:checked').val(), $('input[name=optDFKChain]:checked').val(), $('input[name=optKlaytn]:checked').val())">
            <img src="{{ BASE_SCRIPT_URL }}static/images/wallet.png" /><span>Transactions</span>
          </div>
        </div>
        <div id="loadingSection" style="display: none;">
          Preparing Report...<div class="lds-ripple"><div></div><div></div></div>
        </div>
        <div id="generateSection" style="display: none;">
          <h3 id="needDataLoad" style="display:none;margin: 8px;">Data for the Wallet(s) and Date Range you have selected is not up to date.  Click "Update Now" to trigger a data refresh for the wallet.
            <input type="button" value="Update Now" class="ui-button" onclick="checkData(true);"/>
          </h3>
          <p id="dataUpdatingMessage" style="display:none;margin:8px;">Progress will be displayed below.  You should wait to choose a report until data is updated or choose an older date range that data is available for.</p>
          <table id="reportList" class="statusList reportPage"></table>
        </div>
      </div>
      <div id="summaryReport" style="display: none;">
        <div id="gasTotal" class="summaryBox" style="width:95%;height:40px;display:none;" title="Totals fiat value total of all network transaction fees you paid.">
          <h3 style="font-size:28px;">
          <span>Total Transaction Gas Fees Paid: </span>
          <span id="gasTotalValue"></span>
          </h3>
        </div>
        <div id="quests_summary" class="summaryBox" style="display: none;">
          <div id="smy_quests_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/quest.png" class="smyIcon" /><span>Quest (if 1 week range or less)</span></div>
          <div id="smy_quests_data"></div>
        </div>
        <div id="swaps_summary" class="summaryBox" style="display: none;">
          <div id="smy_swaps_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/trader.png" class="smyIcon" /><span>Trader</span></div>
          <div id="smy_swaps_data"></div>
        </div>
        <div id="trades_summary" class="summaryBox" style="display: none;">
          <div id="smy_trades_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/bazaar.png" class="smyIcon" /><span>Bazaar</span></div>
          <div id="smy_trades_data"></div>
        </div>
        <div id="liquidity_summary" class="summaryBox" style="display: none;">
          <div id="smy_liquidity_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/liquidity.png" class="smyIcon" /><span>Liquidity</span></div>
          <div id="smy_liquidity_data"></div>
        </div>
        <div id="tavern_summary" class="summaryBox" style="display: none;">
          <div id="smy_tavern_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/beer.png" class="smyIcon" /><span>NFTs</span></div>
          <div id="smy_tavern_data"></div>
        </div>
        <div id="gardens_summary" class="summaryBox" style="display: none;">
          <div id="smy_gardens_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/gardens.png" class="smyIcon" /><span>Gardens</span></div>
          <div id="smy_gardens_data"></div>
        </div>
        <div id="bank_summary" class="summaryBox" style="display: none;">
          <div id="smy_bank_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/bank.png" class="smyIcon" /><span>Bank</span></div>
          <div id="smy_bank_data"></div>
        </div>
        <div id="alchemist_summary" class="summaryBox" style="display: none;">
          <div id="smy_alchemist_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/alchemist.png" class="smyIcon" /><span>Crafting</span></div>
          <div id="smy_alchemist_data"></div>
        </div>
        <div id="airdrops_summary" class="summaryBox" style="display: none;">
          <div id="smy_airdrops_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/airdrop.png" class="smyIcon" /><span>Airdrop</span></div>
          <div id="smy_airdrops_data"></div>
        </div>
        <div id="wallet_summary" class="summaryBox" style="display: none;">
          <div id="smy_wallet_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/wallet.png" class="smyIcon" /><span>Wallet</span></div>
          <div id="smy_wallet_data"></div>
        </div>
        <div id="lending_summary" class="summaryBox" style="display: none;">
          <div id="smy_lending_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/bank.png" class="smyIcon" /><span>Lending</span></div>
          <div id="smy_lending_data"></div>
        </div>
        <div class="footer"></div>
      </div>
      <div id="reportContent" class="reportPage">
        <table id="pnl_summary" class="summaryTable" style="display: none;">
          <tr><th>Summary</th><th>Count</th><th>Proceeds</th><th>Costs</th><th>Gains</th></tr>
          <tr><td>Accounted Sales</td><td id="accountedCount"></td><td id="accountedProceeds"></td><td id="accountedCosts"></td><td id="accountedGains"></td></tr>
          <tr><td>Unaccounted Sales</td><td id="unaccountedCount"></td><td id="unaccountedProceeds"></td><td id="unaccountedCosts"></td><td id="unaccountedGains"></td></tr>
        </table>
        <table id="pnl_data" class="taxTable" style="display: none;">
          <tr><th>Description</th><th>Acquired Date</th><th>Sold Date</th><th>Proceeds</th><th>Costs</th><th>Gains</th></tr>
        </table>
        <table id="tax_income_data" class="taxTable" style="display: none;padding-top:32px;">
          <tr><th>Description</th><th>Acquired Date</th><th>Income Date</th><th>Proceeds</th><th>Costs</th><th>Gains</th></tr>
        </table>
      </div>
      <div id="exportContent" style="display: none;">
        <div id="exportSection">
          <div class="sectionHead"></div>
          <div style="padding: 4px;">
            <fieldset id="csvFormatSet" class="multiToggle">
              <legend style="font-weight: bold;">CSV Format:</legend>
              <input type="radio" name="csvf" id="coinledgeruniversal" value="coinledgeruniversal">
              <label for="coinledgeruniversal">CoinLedger Universal</label>
              <input type="radio" name="csvf" id="koinlyuniversal" value="koinlyuniversal">
              <label for="koinlyuniversal">Koinly Universal</label>
              <input type="radio" name="csvf" id="tokentax" value="tokentax">
              <label for="tokentax">Token Tax</label>
              <input type="radio" name="csvf" id="turbotax" value="turbotax">
              <label for="turbotax">TurboTax Universal</label>
              <input type="radio" name="csvf" id="manual" value="manual">
              <label for="manual">Manual</label>
            </fieldset>
          </div>
          <div class="sectionHead"></div>
          <button id="exportCSV" type=button value="Export CSV" class="ui-button" onclick="exportData('csv');" style="margin-left:20px;top: -2px;">Export CSV</button>
          <div id="loadingCSV" style="display:none;">Preparing CSV...<div class="lds-ripple"><div></div><div></div></div></div>
        </div>
      </div>
      <div id="transactionReport" class="reportPage" style="display: none;">
        <div id="mappingSection" style="display: none;">
          <div id="mappingProgress"></div>
          <div id="mappingMessage">Loading Transactions...</div>
        </div>
        <h2 id="tx_tavern_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png" class="txIndicator" /><span>NFTs</span><span id="tx_tavern_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/beer.png" class="txIcon" /></h2>
        <div style="display: none;">
          <table id="tx_tavern_data" class="transactionTable" style="display: none;">
          </table>
        </div>
        <h2 id="tx_swaps_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png" class="txIndicator" /><span>Trader</span><span id="tx_swaps_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/trader.png" class="txIcon" /></h2>
        <div style="display: none;">
          <table id="tx_swaps_data" class="transactionTable" style="display: none;">
          </table>
        </div>
        <h2 id="tx_trades_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png" class="txIndicator" /><span>Bazaar</span><span id="tx_trades_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/bazaar.png" class="txIcon" /></h2>
        <div style="display: none;">
          <table id="tx_trades_data" class="transactionTable" style="display: none;">
          </table>
        </div>
        <h2 id="tx_liquidity_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png" class="txIndicator" /><span>Liquidity</span><span id="tx_liquidity_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/liquidity.png" class="txIcon" /></h2>
        <div style="display: none;">
          <table id="tx_liquidity_data" class="transactionTable" style="display: none;">
          </table>
        </div>
        <h2 id="tx_gardens_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png" class="txIndicator" /><span>Gardens</span><span id="tx_gardens_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/gardens.png" class="txIcon" /></h2>
        <div style="display: none;">
          <table id="tx_gardens_data" class="transactionTable" style="display: none;">
          </table>
        </div>
        <h2 id="tx_bank_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png" class="txIndicator" /><span>Bank</span><span id="tx_bank_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/bank.png" class="txIcon" /></h2>
        <div style="display: none;">
          <table id="tx_bank_data" class="transactionTable" style="display: none;">
          </table>
        </div>
        <h2 id="tx_alchemist_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png" class="txIndicator" /><span>Crafting</span><span id="tx_alchemist_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/alchemist.png" class="txIcon" /></h2>
        <div style="display: none;">
          <table id="tx_alchemist_data" class="transactionTable" style="display: none;">
          </table>
        </div>
        <h2 id="tx_quests_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png" class="txIndicator" /><span>Quest (if 1 week range or less)</span><span id="tx_quests_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/quest.png" class="txIcon" /></h2>
        <div style="display: none;">
          <table id="tx_quests_data" class="transactionTable" style="display: none;">
          </table>
        </div>
        <h2 id="tx_wallet_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png" class="txIndicator" /><span>Wallet</span><span id="tx_wallet_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/wallet.png" class="txIcon" /></h2>
        <div style="display: none;">
          <table id="tx_wallet_data" class="transactionTable" style="display: none;">
          </table>
        </div>
        <h2 id="tx_airdrops_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/downArrowGrey16.png" class="txIndicator" /><span>Airdrop</span><span id="tx_airdrops_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/airdrop.png" class="txIcon" /></h2>
        <div>
          <table id="tx_airdrops_data" class="transactionTable" style="display: none;">
          </table>
        </div>
        <h2 id="tx_lending_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/downArrowGrey16.png" class="txIndicator" /><span>Lending</span><span id="tx_lending_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/bank.png" class="txIcon" /></h2>
        <div>
          <table id="tx_lending_data" class="transactionTable" style="display: none;">
          </table>
        </div>
      </div>
    </div>
    <div id="releaseNotes" class="ghWidgetBox ui-widget-content">
      <h3>Latest Updates</h3>
      <div class="sectionHead"></div>
      <ul>
        <li><span style="font-style:italic;">2023-09-30:</span> Added new set of report for different focus areas.  Changed data update method to be triggered on criteria update if needed or automatic daily for member wallets.</li>
        <li><span style="font-style:italic;">2023-08-04:</span> Added Bazaar Trades.</li>
        <li><span style="font-style:italic;">2023-04-03:</span> Added TurboTax Universal CSV format export.</li>
        <li><span style="font-style:italic;">2023-02-20:</span> Improve DFKChain tx list lookup performance and fix progress tracking for multi wallet.</li>
        <li><span style="font-style:italic;">2023-01-28:</span> Multi-wallet release!
          <ul>
            <li>New Members page with subscription tools/status using wallet connect and sign for login.</li>
            <li>Reports now launch in a separate page after generating.</li>
            <li>Subscribers can define wallet groups to run multi-wallet reports</li>
            <li>Subscribers can browse and launch past generated reports.</li>
            <li>Token Tax CSV Export format added.</li>
          </ul>
        </li>
        <li><span style="font-style:italic;">2022-12-11:</span> Klaytn/Serendale 2.0 Added.</li>
        <li><span style="font-style:italic;">2022-11-13:</span> Add new Jeweler (cJewel) activity</li>
        <li><span style="font-style:italic;">2022-11-04:</span> Add detection for Dark Summoning</li>
        <li><span style="font-style:italic;">2022-10-19:</span> Fix issue with DFKChain transaction list lookup by switching to Covalent API resource.</li>
        <li><span style="font-style:italic;">2022-09-11:</span> Fix price conversion for items on Harmony to not use depegged USDC and improve lookup of cached records performance.</li>
        <li><span style="font-style:italic;">2022-08-01:</span> Detect Crystalvale Alchemist events.</li>
        <li><span style="font-style:italic;">2022-07-16:</span> Detect Crystalvale Meditation Circle events.</li>
        <li><span style="font-style:italic;">2022-07-12:</span> Added Crystalvale quest rewards.</li>
        <li><span style="font-style:italic;">2022-06-17:</span> Include Pet Trade In events and DFK Duel events under NFT section.</li>
        <li><span style="font-style:italic;">2022-06-11:</span> Add CoinLedger CSV export format option.</li>
        <li><span style="font-style:italic;">2022-05-29:</span> Add Pet Hatching expenses and correlate to sales for cost basis.</li>
        <li><span style="font-style:italic;">2022-05-25:</span> Add Pet Buy/Sell activity.</li>
        <li><span style="font-style:italic;">2022-05-11:</span> Add detection for Stone Carver crafting.</li>
        <li><span style="font-style:italic;">2022-05-05:</span> Include Crystalvale Tavern and Summoning events.</li>
        <li><span style="font-style:italic;">2022-04-21:</span> Include rewards from Training quests.</li>
        <li><span style="font-style:italic;">2022-04-09:</span> Added Canadian Adjusted Cost Basis option. (Note: no superficial loss detection)</li>
        <li><span style="font-style:italic;">2022-04-06:</span> Detect charitable donations and list under expenses section in Tax Report.</li>
      </ul>
    </div>
  </div>
</div>
<div class="footer">
	<a href="{{ BASE_SCRIPT_URL }}" title="Report page">Home</a> | <a href="{{ BASE_SCRIPT_URL }}help" title="Get help" target="_blank">Help</a> | <a href="https://github.com/pwillworth/dfkreport" title="Open Source Code for the application" target="_blank">Source</a> | <a href="https://github.com/pwillworth/dfkreport/discussions" title="Ask questions or submit ideas" target="_blank">Contact</a> | <a href="{{ BASE_SCRIPT_URL }}about" title="Support us and get info" target="_blank">About</a>
	<p style="padding: 4px;font-weight:normal;font-size: .7em;">This utility is intended to help quantify potential taxable events for account activity within the <a href="https://defikingdoms.com">DeFi Kingdoms</a> game.  It makes no claims at being a full accounting of your tax liablity.</p>
</div>
<div id="frame_box" style="display:none;"></div>
</body></html>
