<!DOCTYPE html>
<html lang="en"><head>
<title>Lila's Ledger</title>
<meta property="og:title" content="Lila's Ledger">
<meta property="og:description" content="Defi Kingdoms Transaction History reporting to help quantify potential taxable events.">
<meta property="og:image" content="{{ BASE_SCRIPT_URL }}static/images/favicon.png">
<link rel="stylesheet" type="text/css" href="/static/dfktax.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/jquery-ui.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/jquery-ui.structure.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/jquery-ui.theme.min.css" media="screen" />
<script src="/static/dfktax.js" type="text/javascript"></script>
<script src="/static/jquery.min.js"></script>
<script src="/static/jquery-ui.min.js"></script>
<script type="text/javascript">

var currentView = 'tax';
var transactionWeight = 18;

$(document).ready(function() {
    $("#busyImg").css("display","none");
    $( ".dateBox" ).datepicker({
      dateFormat: "yy-mm-dd"
    });
    optionsReset();
    $('.txHeader').hover(function() {
      $( this ).addClass('goldBorder');
    }, function() {
      $( this ).removeClass('goldBorder');
    });
    $('.txHeader').click(function() {
      $( this ).next('div').toggle(500);
      imgInd = $( this ).find('img');
      if ( $( imgInd ).attr('src') == '{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png') {
        $( this ).find('img.txIndicator').attr('src', '{{ BASE_SCRIPT_URL }}static/images/downArrowGrey16.png');
      } else {
        $( this ).find('img.txIndicator').attr('src', '{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png');
      }
    });
});
var usdFormat = new Intl.NumberFormat('en-US', {
  style: 'currency',
  currency: 'USD',
})
$( function() {
    $( "#reportProgress, #mappingProgress" ).progressbar({
      value: false,
      max: 2000
    });
  } );
// Restore defaults for options
function optionsReset() {
  $("#optHarmony").prop('checked', true);
  $("#optDFKChain").prop('checked', true);
  $("#optAvalanche").prop('checked', false);
  // Default to last year if it is early in year, this year otherwise
  var dt = new Date();
  var setYear = dt.getFullYear();
  if (dt.getMonth() < 5) {
    setYear = setYear -1;
  }
  $("#startDate").val(setYear + "-01-01");
  $("#endDate").val(setYear + "-12-31");
  $("#fifo").attr('checked', 'checked');
  $("#manual").attr('checked', 'checked');
  $("#purchaseAddresses").val('');
  $('#addressEntry').hide();
}
// Switch between Tax, Summary, and Transaction report views
function switchView(view) {
  if (view == 'tax') {
    currentView = 'tax';
    $("#viewTransaction").removeClass('tabSelect');
    $("#viewSummary").removeClass('tabSelect');
    $("#viewTax").addClass('tabSelect');
    $("#transactionReport").hide(500);
    $("#summaryReport").hide(500);
    $("#taxReport").show(500);
  } else if (view == 'transaction') {
    currentView = 'transaction';
    $("#viewTax").removeClass('tabSelect');
    $("#viewSummary").removeClass('tabSelect');
    $("#viewTransaction").addClass('tabSelect');
    $("#taxReport").hide(500);
    $("#summaryReport").hide(500);
    $("#transactionReport").show(500);
  } else {
    currentView = 'summary';
    $("#viewSummary").addClass('tabSelect');
    $("#viewTax").removeClass('tabSelect');
    $("#viewTransaction").removeClass('tabSelect');
    $("#taxReport").hide(500);
    $("#transactionReport").hide(500);
    $("#summaryReport").show(500);
  }
}
function clearReports() {
  $(".taxTable").html('<tr><th>Description</th><th>Acquired Date</th><th>Event Date</th><th>Proceeds</th><th>Costs</th><th>Gains</th></tr>');
  event_groups.forEach(txGroupReset);
  $('#paymentsTotalValue').html('');
  paymentsTotal = 0;
  paymentsTotalValue = 0;
}
function txGroupReset(value) {
  $('#tx_' + value + '_data').html('');
  $('#tx_' + value + '_count').html('');
  $('#smy_' + value + '_data').html('');
}
// Load the report in two steps after it is done, first tax report, then events
function completeReport(generateAddress, generateStart, generateEnd, costBasis, includeHarmony, includeDFKChain, includeAvalanche, contentType, eventGroup='all') {
  $.post(BASE_SCRIPT_URL + "generate.py",{
        walletAddress: generateAddress,
        includeHarmony: includeHarmony,
        includeDFKChain: includeDFKChain,
        includeAvalanche: includeAvalanche,
        contentType: contentType,
        eventGroup: eventGroup,
        startDate: generateStart,
        endDate: generateEnd,
        costBasis: costBasis}, function( data ) {
          if (contentType == 'tax') {
            reportRecords = data.response.tax_records;
            loadReport(data.response, contentType);
            $("#exportContainer").show(500);
            $("#loadingSection").css("display","none");
            $("#loadingMessage").html('Lila: I can help you.');
            $("#reportProgress").progressbar( "option", "value", false);
            $("#reportPercent").html("");
            for (let i = 0; i < event_groups.length; i++) {
              setTimeout('completeReport("' + generateAddress + '","' + generateStart + '","' + generateEnd + '","' + costBasis + '","' + includeHarmony + '","' + includeDFKChain + '","' + includeAvalanche + '","transaction","' + event_groups[i] + '")', 500);
            }
          } else {
            reportRecords = data.response.event_records;
            if (reportRecords != 'undefined') {
              loadReport(data.response, contentType, eventGroup);
              if (eventGroup == event_groups[event_groups.length-1]) {
                $("#mappingSection").css("display","none");
                $("#mappingProgress").progressbar( "option", "value", false);
                $("#mappingMessage").html("Loading Transactions...");
              }
            }
          }
        }, "json"
    );
    return false;
}
// This function is recursively called to check on report status and will trigger report load when done
function generateReport(generateAddress, generateStart, generateEnd, costBasis, includeHarmony='false', includeDFKChain='false', includeAvalanche='false', purchaseAddresses='') {
    $("#loadingSection").css("display","block");
    $("#mappingSection").css("display","block");
    clearReports();
    $.post(BASE_SCRIPT_URL + "generate.py",{
        walletAddress: generateAddress,
        includeHarmony: includeHarmony,
        includeDFKChain: includeDFKChain,
        includeAvalanche: includeAvalanche,
        startDate: generateStart,
        endDate: generateEnd,
        costBasis: costBasis,
        purchaseAddresses: purchaseAddresses}, async function( data ) {
          reportStatus = data.response.status
          if (reportStatus == 'complete') {
            $( "#loadingMessage").html('Lila: I have that report ready now, here it is...');
            completeReport(generateAddress, generateStart, generateEnd, costBasis, includeHarmony, includeDFKChain, includeAvalanche, 'tax');
          } else if (reportStatus == 'generating') {
            $("#reportProgress").progressbar( "option", "max", data.response.transactionsTotal + (data.response.transactionsTotal * transactionWeight ) );
            $("#reportProgress").progressbar( "option", "value", data.response.transactionsTotal + (data.response.transactionsComplete * transactionWeight ) );
            if ( (( data.response.transactionsTotal + (data.response.transactionsComplete * transactionWeight ) ) / ( data.response.transactionsTotal + (data.response.transactionsTotal * transactionWeight ) ) * 100).toFixed(0) == 100 ) {
              $( "#loadingMessage").html('Lila: I have that report almost ready now, I will have it up in just a minute or two...');
            } else {
              $("#loadingMessage").html('Lila: I\'m putting that report together now, maybe you should come back later.  Don\'t you have some quests to do?')
            }
            $("#reportPercent").html('.:' + (( data.response.transactionsTotal + (data.response.transactionsComplete * transactionWeight ) ) / ( data.response.transactionsTotal + (data.response.transactionsTotal * transactionWeight ) ) * 100).toFixed(0) + '%:.')
            await new Promise(r => setTimeout(r, 4000));
            generateReport(generateAddress, generateStart, generateEnd, costBasis, includeHarmony, includeDFKChain, includeAvalanche);
          } else if (reportStatus == 'fetchingtx') {
            $("#reportProgress").progressbar( "option", "max", data.response.transactionsTotal + (data.response.transactionsTotal * transactionWeight ) );
            $("#reportProgress").progressbar( "option", "value", data.response.transactionsFetched );
            $("#loadingMessage").html('Lila: Oh, I know I have that info here somewhere, looking for your records now.')
            $("#reportPercent").html('.:' + (data.response.transactionsFetched / ( data.response.transactionsTotal + (data.response.transactionsTotal * transactionWeight ) ) * 100).toFixed(0) + '%:.')
            await new Promise(r => setTimeout(r, 2000));
            generateReport(generateAddress, generateStart, generateEnd, costBasis, includeHarmony, includeDFKChain, includeAvalanche);
          } else if (reportStatus == 'initiated') {
            $("#reportProgress").progressbar( "option", "max", data.response.transactionsTotal + (data.response.transactionsTotal * transactionWeight ) );
            $("#exportContainer").hide(500);
            await new Promise(r => setTimeout(r, 2000));
            generateReport(generateAddress, generateStart, generateEnd, costBasis, includeHarmony, includeDFKChain, includeAvalanche);
          } else {
            // If no status was returned, there must have been some kind of failure and an Error message should be in response
            $("#loadingSection").css("display","none");
            $("#mappingSection").css("display","none");
            $("#loadingMessage").html('Lila: Hi, Things are pretty hectic around here right now.');
            $("#reportProgress").progressbar( "option", "value", false);
            $("#reportPercent").html("");
            $("#mappingProgress").progressbar( "option", "value", false);
            $("#mappingMessage").html("Loading Transactions...");
            alert(data.response)
          }
        }, "json"
    );
    return false;
}

function exportData(format) {
  // TODO tie the parameters to saved of last report run instead of current selections
  var url = BASE_SCRIPT_URL + "generate.py?formatType=" + format + "&contentType=" + currentView + "&walletAddress=" + $("#ethAddress").val() + "&startDate=" + $("#startDate").val() + "&endDate=" + $("#endDate").val() + "&costBasis=" + $('input[name=cbs]:checked').val() + "&csvFormat=" + $('input[name=csvf]:checked').val() + "&includeHarmony=" + $('input[name=optHarmony]:checked').val() + "&includeDFKChain=" + $('input[name=optDFKChain]:checked').val() + "&includeAvalanche=" + $('input[name=optAvalanche]:checked').val();
  var htm = '<iframe src="' + url + '" onload="downloadDone()"></iframe>';
  document.getElementById('frame_box').innerHTML = htm;
}
// todo figure out callback for iframe load
function downloadDone() {
  $("#mask").hide();
}
</script>
<body>
<div>
<h1><span id="dfkrptTitle">DeFi Kingdoms: Lila's Ledger</span>
  <button id="goFilter" type="button" class="ui-button" style="float: right;margin-top: 8px;" onclick="generateReport($('#ethAddress').val(), $('#startDate').val(), $('#endDate').val(), $('input[name=cbs]:checked').val(), $('input[name=optHarmony]:checked').val(), $('input[name=optDFKChain]:checked').val(), $('input[name=optAvalanche]:checked').val(), encodeURIComponent($('#purchaseAddresses').val()));">Generate!</button>
  <input type=text id="ethAddress" name="ethAddress" size=40 placeholder="Wallet Address 0x..." />
  <fieldset class="chainSelect">
    <input type="checkbox" id="optHarmony" name="optHarmony" checked="checked"/>
    <label for="optHarmony" title="Toggle to include Harmony data"><img src="{{ BASE_SCRIPT_URL }}static/images/harmony.png" style="max-width: 36px;margin-bottom:-4px;"/></label>
    <input type="checkbox" id="optDFKChain" name="optDFKChain" checked="checked"/>
    <label for="optDFKChain" title="Toggle to include DFK Chain (Crystalvale) data"><img src="{{ BASE_SCRIPT_URL }}static/images/dfk-chain.png" style="max-width: 36px;margin-bottom:-4px;"/></label>
    <input type="checkbox" id="optAvalanche" name="optAvalanche"/>
    <label for="optAvalanche" title="Toggle to include Avalanche data"><img src="{{ BASE_SCRIPT_URL }}static/images/avalanche.png" style="max-width: 36px;margin-bottom:-4px;"/></label>
  </fieldset>
</h1>

</div>
<div id="mainContent" class="wrapper">
  <div id="leftNavContent" class="ghCol">
    <div id="reportCriteria" class="ghWidgetBox ui-widget-content">
    <form id="reportSearch" name="reportSearch">
    <div class="boxHeader ui-widget-header">Report Options
      <a href="{{ BASE_SCRIPT_URL }}help.py" alt="read documentation"><img src="{{ BASE_SCRIPT_URL }}static/images/help.png" style="max-width: 22px;float:right;"/></a></href>
    </div>
    <div id="searchInputs">
      <div class="sectionHead"></div>
      <fieldset id="dateRangeSet">
        <legend style="font-weight: bold;">Date Range Included:</legend>
        <div id="dateSetBox" class="fieldContainer">
        <div>Start Date: <input class="dateBox" type="text" id="startDate" size=10 /></div>
        <div class="sectionHead"></div>
        <div>End Date: <input class="dateBox" type="text" id="endDate" size=10 /></div>
        </div>
        <div class="sectionHead"></div>
      </fieldset>
      <div class="sectionHead"></div>
      <div style="padding: 4px;">
      <fieldset id="costBasisSet" class="multiToggle">
        <legend style="font-weight: bold;">Cost Basis:</legend>
        <input type="radio" name="cbs" id="fifo" value="fifo">
        <label for="fifo">First in - First Out</label>
        <input type="radio" name="cbs" id="lifo" value="lifo">
        <label for="lifo">Last in - First Out</label>
        <input type="radio" name="cbs" id="hifo" value="hifo">
        <label for="hifo">Highest in - First Out</label>
        <input type="radio" name="cbs" id="acb" value="acb">
        <label for="acb">Adjusted (CAN)</label>
      </fieldset>
      </div>
      <div class="sectionHead"></div>
      <div style="padding: 4px;">
      <fieldset id="csvFormatSet" class="multiToggle">
        <legend style="font-weight: bold;">CSV Format:</legend>
        <input type="radio" name="csvf" id="coinledgeruniversal" value="coinledgeruniversal">
        <label for="coinledgeruniversal">CoinLedger Universal</label>
        <input type="radio" name="csvf" id="koinlyuniversal" value="koinlyuniversal">
        <label for="koinlyuniversal">Koinly Universal</label>
        <input type="radio" name="csvf" id="manual" value="manual">
        <label for="manual">Manual</label>
      </fieldset>
      </div>
      <div class="sectionHead"></div>
      <div class="searchInput" style="text-align:center">
        <input type="button" value="Add Wallet Purchase Addresses" class="ui-button" onclick="$('#addressEntry').show(500);"/>
      </div>
      <div id="addressEntry" style="display:none;">
        <label for="purchaseAddresses">Treat xfers to these addresses as taxable</label>
        <textarea id="purchaseAddresses" name="purchaseAddresses" rows="4" cols="42" maxlength="1000"></textarea>
      </div>
      <div class="sectionHead"></div>
      <div class="searchInput" style="text-align:center">
        <input type="button" value="Reset" class="ui-button" onclick="optionsReset()"/>
      </div></form>
      <div style="display: flex; align-items: center; justify-content: center;height: 100%;"><img src="{{ BASE_SCRIPT_URL }}static/images/favicon.png" style="max-width: 128px;position: relative;bottom: -4px;" /></div>
    </div>
    </div>
    <div id="supportBox" class="orphanBox">
      <img src="{{ BASE_SCRIPT_URL }}static/images/jewel.png" style="max-width:32px;"/>
      <div class="inlineBlock"><a class="orphanButton" href="{{ BASE_SCRIPT_URL }}about.py" target="_blank">Support This Tool</a></div>
      <img src="{{ BASE_SCRIPT_URL }}static/images/crystal.png" style="max-width:32px;"/>
    </div>
    <div id="reportCriteria" class="ghWidgetBox ui-widget-content">
      <h3>Latest Updates</h3>
      <div class="sectionHead"></div>
      <ul>
        <li>2022-06-17: Include Pet Trade In events and DFK Duel events under NFT section.</li>
        <li>2022-06-11: Add CoinLedger CSV export format option.</li>
        <li>2022-05-29: Add Pet Hatching expenses and correlate to sales for cost basis.</li>
        <li>2022-05-25: Add Pet Buy/Sell activity.</li>
        <li>2022-05-11: Add detection for Stone Carver crafting.</li>
        <li>2022-05-05: Include Crystalvale Tavern and Summoning events.</li>
        <li>2022-04-21: Include rewards from Training quests.</li>
        <li>2022-04-09: Added Canadian Adjusted Cost Basis option. (Note: no superficial loss detection)</li>
        <li>2022-04-06: Detect charitable donations and list under expenses section in Tax Report.</li>
        <li>2022-03-31: Now including activity from Crystalvale/DFK Chain.  Toggleable by address box.</li>
        <li>2022-03-27: Capture Lending platform activities in new Lending section.</li>
        <li>2022-03-26: Incorporated gas fees into reporting, see <a href="{{ BASE_SCRIPT_URL }}help.py" title="Get help">help page</a> for how.</li>
        <li>2022-03-19: Correlate Perilous Journey rewards to Heroes to form cost basis and improve price data for items.  Also include summon and levelup enhancements to hero expenses.</li>
      </ul>
    </div>
  </div>
  <div id="rightMainContent" class="ghCol">
    <div id="reportContainer" class="ghWidgetBox ui-widget-content">
    <div class="boxHeader ui-widget-header" style="height:24px;"><div id="results_title" style="float:left;">Report Results
      <div style="float:right;position:relative;top:-2px;display: none;" id="exportContainer">
        <button type=button value="Export CSV" class="ui-button" onclick="exportData('csv');" style="margin-left:20px;">Export CSV</button>
      </div>
    </div>
      <div style="float:right;position:relative;top:0px;">
        <button id="viewTax" type=button value="Tax Report" class="tab-button tabSelect" onclick="switchView('tax')">Tax Report</button>
        <button id="viewSummary" type=button value="Summary" class="tab-button" onclick="switchView('summary')">Summary</button>
        <button id="viewTransaction" type=button value="Transactions" class="tab-button" onclick="switchView('transaction')">Transactions</button>
      </div>
    </div>
    <div id="reportInfo">
      <div id="loadingSection" style="display: none;">
        <img src="{{ BASE_SCRIPT_URL }}static/images/gettingrecords.gif" class="goldBorder lilaBox" />
        <div class="talk-bubble tri-right round border right-top">
          <div class="talktext">
            <p id="loadingMessage">Lila: Hi, I can help you.</p>
          </div>
        </div>
        <div id="reportProgress"></div>
        <div id="reportPercent"></div>
      </div>
      <div id="summaryReport" style="display: none;">
        <div id="paymentsTotal" class="summaryBox" style="width:95%;height:40px;" title="Totals your Jewel income from payments, airdrops, staking, and quests.">
          <h3 style="font-size:28px;">
          <span>Total Income from Payments: </span>
          <span id="paymentsTotalValue"></span>
          </h3>
        </div>
        <div id="gasTotal" class="summaryBox" style="width:95%;height:40px;display:none;" title="Totals fiat value total of all network transaction fees you paid.">
          <h3 style="font-size:28px;">
          <span>Total Transaction Gas Fees Paid: </span>
          <span id="gasTotalValue"></span>
          </h3>
        </div>
        <div id="quests_summary" class="summaryBox inlineBlock" style="height: 680px;">
          <div id="smy_quests_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/quest.png" class="smyIcon" /><span>Quest</span></div>
          <div id="smy_quests_data"></div>
        </div>
        <div id="swaps_summary" class="summaryBox inlineBlock" style="height: 680px;">
          <div id="smy_swaps_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/trader.png" class="smyIcon" /><span>Trader</span></div>
          <div id="smy_swaps_data"></div>
        </div>
        <div id="liquidity_summary" class="summaryBox inlineBlock" style="height: 680px;">
          <div id="smy_liquidity_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/liquidity.png" class="smyIcon" /><span>Liquidity</span></div>
          <div id="smy_liquidity_data"></div>
        </div>
        <div id="tavern_summary" class="summaryBox inlineBlock">
          <div id="smy_tavern_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/beer.png" class="smyIcon" /><span>NFTs</span></div>
          <div id="smy_tavern_data"></div>
        </div>
        <div id="gardens_summary" class="summaryBox inlineBlock">
          <div id="smy_gardens_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/gardens.png" class="smyIcon" /><span>Gardens</span></div>
          <div id="smy_gardens_data"></div>
        </div>
        <div id="bank_summary" class="summaryBox inlineBlock">
          <div id="smy_bank_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/bank.png" class="smyIcon" /><span>Bank</span></div>
          <div id="smy_bank_data"></div>
        </div>
        <div id="alchemist_summary" class="summaryBox inlineBlock">
          <div id="smy_alchemist_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/alchemist.png" class="smyIcon" /><span>Crafting</span></div>
          <div id="smy_alchemist_data"></div>
        </div>
        <div id="airdrops_summary" class="summaryBox inlineBlock">
          <div id="smy_airdrops_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/airdrop.png" class="smyIcon" /><span>Airdrop</span></div>
          <div id="smy_airdrops_data"></div>
        </div>
        <div id="wallet_summary" class="summaryBox inlineBlock">
          <div id="smy_wallet_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/wallet.png" class="smyIcon" /><span>Wallet</span></div>
          <div id="smy_wallet_data"></div>
        </div>
        <div id="lending_summary" class="summaryBox inlineBlock" style="width: 612px">
          <div id="smy_lending_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/bank.png" class="smyIcon" /><span>Lending</span></div>
          <div id="smy_lending_data"></div>
        </div>
        <div class="footer"></div>
      </div>
      <div id="taxReport" class="reportPage">
        <h2 id="tax_gains_header">Capital Gains</h2>
        <table id="tax_gains_data" class="taxTable" style="display: none;">
          <tr><th>Description</th><th>Acquired Date</th><th>Sold Date</th><th>Proceeds</th><th>Costs</th><th>Gains</th></tr>
        </table>
        <h2 id="tax_income_header">Income</h2>
        <table id="tax_income_data" class="taxTable" style="display: none;">
          <tr><th>Description</th><th>Acquired Date</th><th>Income Date</th><th>Proceeds</th><th>Costs</th><th>Gains</th></tr>
        </table>
        <h2 id="tax_expenses_header">Expenses <span style="font-size: 10px;font-style:italic;">(Proceeds here are already represented above, this section is just informational to show potential unrealized gains.)</span></h2>
        <table id="tax_expenses_data" class="taxTable" style="display: none;">
          <tr><th>Description</th><th>Acquired Date</th><th>Sold Date</th><th>Proceeds</th><th>Costs</th><th>Gains</th></tr>
        </table>
      </div>
      <div id="transactionReport" class="reportPage" style="display: none;">
        <div id="mappingSection" style="display: none;">
          <div id="mappingProgress"></div>
          <div id="mappingMessage">Loading Transactions...</div>
        </div>
        <h2 id="tx_tavern_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png" class="txIndicator" /><span>NFTs</span><span id="tx_tavern_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/beer.png" class="txIcon" /></h2>
        <div style="display: none;">
        <table id="tx_tavern_data" class="transactionTable" style="display: none;">
        </table>
        </div>
        <h2 id="tx_swaps_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png" class="txIndicator" /><span>Trader</span><span id="tx_swaps_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/trader.png" class="txIcon" /></h2>
        <div style="display: none;">
        <table id="tx_swaps_data" class="transactionTable" style="display: none;">
        </table>
        </div>
        <h2 id="tx_liquidity_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png" class="txIndicator" /><span>Liquidity</span><span id="tx_liquidity_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/liquidity.png" class="txIcon" /></h2>
        <div style="display: none;">
        <table id="tx_liquidity_data" class="transactionTable" style="display: none;">
        </table>
        </div>
        <h2 id="tx_gardens_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png" class="txIndicator" /><span>Gardens</span><span id="tx_gardens_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/gardens.png" class="txIcon" /></h2>
        <div style="display: none;">
        <table id="tx_gardens_data" class="transactionTable" style="display: none;">
        </table>
        </div>
        <h2 id="tx_bank_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png" class="txIndicator" /><span>Bank</span><span id="tx_bank_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/bank.png" class="txIcon" /></h2>
        <div style="display: none;">
        <table id="tx_bank_data" class="transactionTable" style="display: none;">
        </table>
        </div>
        <h2 id="tx_alchemist_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png" class="txIndicator" /><span>Crafting</span><span id="tx_alchemist_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/alchemist.png" class="txIcon" /></h2>
        <div style="display: none;">
        <table id="tx_alchemist_data" class="transactionTable" style="display: none;">
        </table>
        </div>
        <h2 id="tx_quests_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png" class="txIndicator" /><span>Quest</span><span id="tx_quests_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/quest.png" class="txIcon" /></h2>
        <div style="display: none;">
        <table id="tx_quests_data" class="transactionTable" style="display: none;">
        </table>
        </div>
        <h2 id="tx_wallet_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png" class="txIndicator" /><span>Wallet</span><span id="tx_wallet_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/wallet.png" class="txIcon" /></h2>
        <div style="display: none;">
        <table id="tx_wallet_data" class="transactionTable" style="display: none;">
        </table>
        </div>
        <h2 id="tx_airdrops_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/downArrowGrey16.png" class="txIndicator" /><span>Airdrop</span><span id="tx_airdrops_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/airdrop.png" class="txIcon" /></h2>
        <div>
        <table id="tx_airdrops_data" class="transactionTable" style="display: none;">
        </table>
        </div>
        <h2 id="tx_lending_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/downArrowGrey16.png" class="txIndicator" /><span>Lending</span><span id="tx_lending_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/bank.png" class="txIcon" /></h2>
        <div>
        <table id="tx_lending_data" class="transactionTable" style="display: none;">
        </table>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="footer">
	<a href="{{ BASE_SCRIPT_URL }}home.py" title="Report page">Home</a> | <a href="{{ BASE_SCRIPT_URL }}help.py" title="Get help" target="_blank">Help</a> | <a href="https://github.com/pwillworth/dfkreport" title="Open Source Code for the application" target="_blank">Source</a> | <a href="https://github.com/pwillworth/dfkreport/discussions" title="Ask questions or submit ideas" target="_blank">Contact</a> | <a href="{{ BASE_SCRIPT_URL }}about.py" title="Support us and get info" target="_blank">About</a>
	<p style="padding: 4px;font-weight:normal;font-size: .7em;">This utility is intended to help quantify potential taxable events for account activity within the <a href="https://defikingdoms.com">DeFi Kingdoms</a> game.  It makes no claims at being a full accounting of your tax liablity.</p>
</div>
<div id="frame_box" style="display:none;"></div>
</body></html>
