<!DOCTYPE html>
<html lang="en"><head>
<title>Lila's Ledger - Home</title>
<meta property="og:title" content="Lila's Ledger">
<meta property="og:description" content="Defi Kingdoms Transaction History reporting to help quantify potential taxable events.">
<meta property="og:image" content="{{ BASE_SCRIPT_URL }}static/images/favicon.png">
<link rel="shortcut icon" href="{{ BASE_SCRIPT_URL }}static/images/favicon.png" />
<link rel="stylesheet" type="text/css" href="/static/dfktax.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/jquery-ui.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/jquery-ui.structure.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/jquery-ui.theme.min.css" media="screen" />
<script src="/static/dfktax.js" type="text/javascript"></script>
<script src="/static/jquery.min.js"></script>
<script src="/static/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.4-rc.1/web3.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
    isConnected()
    $("#busyImg").css("display","none");
    $( ".dateBox" ).datepicker({
      dateFormat: "yy-mm-dd"
    });
    optionsReset();
});
window.ethereum.on('accountsChanged', function (accounts) {
  console.log(`wallet changed to ${accounts[0]}!`);
  resetConnection();
  handleAccountsChanged(accounts);
});
$( function() {
    $( "#reportProgress, #mappingProgress" ).progressbar({
      value: false,
      max: 2000
    });
  } );
// Restore defaults for options
function optionsReset() {
  $("#optHarmony").prop('checked', true);
  $("#optDFKChain").prop('checked', true);
  $("optKlaytn").prop('checked', true);
  $("#optAvalanche").prop('checked', false);
  // Default to last year if it is early in year, this year otherwise
  var dt = new Date();
  var setYear = dt.getFullYear();
  if (dt.getMonth() < 5) {
    setYear = setYear -1;
  }
  $("#startDate").val(setYear + "-01-01");
  $("#endDate").val(setYear + "-12-31");
  $("#fifo").attr('checked', 'checked');
  $("#manual").attr('checked', 'checked');
  $("#purchaseAddresses").val('');
  $('#addressEntry').hide();
}
function refreshLists() {
  loadGroupSel();
  if (sid != '') {
    $('#multiWalletSelect').show();
  } else {
    $('#multiWalletSelect').hide();
  }
}
function loadGroupSel() {
  $.get(BASE_SCRIPT_URL + "getGroupList.py", {
    account: selectedAccount,
    sid: sid}, function ( data ) {
      if ('error' in data) {
        console.log(data['error']);
      } else {
        var groupSel = document.getElementById('groupSel');
        groupSel.innerHTML = '';
        data['groups'].forEach(item => {
          var opt = document.createElement("option");
          opt.text = item[1];
          groupSel.add(opt);
        });
        var addr = document.getElementById('ethAddress');
        if (addr.value == '') {
          addr.value = groupSel.value;
        }
      }
    }, "json"
  );
}
// This function is recursively called to check on report status and will trigger report load when done
function generateReport(generateAddress, generateStart, generateEnd, costBasis, includeHarmony='false', includeDFKChain='false', includeKlaytn='false', includeAvalanche='false', purchaseAddresses='') {
    $("#loadingSection").css("display","block");
    $("#mappingSection").css("display","block");
    console.log('generate');
    $.post(BASE_SCRIPT_URL + "generate.py",{
        walletAddress: generateAddress,
        includeHarmony: includeHarmony,
        includeDFKChain: includeDFKChain,
        includeKlaytn: includeKlaytn,
        includeAvalanche: includeAvalanche,
        startDate: generateStart,
        endDate: generateEnd,
        costBasis: costBasis,
        purchaseAddresses: purchaseAddresses,
        account: selectedAccount,
        sid: sid}, async function( data ) {
          reportStatus = data.response.status
          if (reportStatus == 'complete') {
            $("#reportProgress").progressbar( "option", "value", 1 );
            $("#reportPercent").html('.:100%:.')
            $("#lilaImg").attr('src', '{{ BASE_SCRIPT_URL }}static/images/liladone.jpg');
            $( "#loadingMessage").html('Lila: I have that report ready now, launching on new page...');
            var contentFile = data.response.contentFile;
            var reportWin = window.open(`{{ BASE_SCRIPT_URL }}/report.py?contentFile=${contentFile}`);
            if (!reportWin || reportWin.closed || typeof reportWin.closed=='undefined') {
              $( "#loadingMessage").html(`Lila: Your browser blocked my tax report!  You can allow it with your browser, or just click <a target="_blank" href="{{ BASE_SCRIPT_URL }}/report.py?contentFile=${contentFile}">here</a> to open it.`);
            }
            var genButton = document.getElementById('goFilter');
            genButton.disabled = false;
          } else if (reportStatus == 'generating') {
            var progress = getProgress(reportStatus, data.response.transactionsTotal, data.response.transactionsComplete, data.response.transactionsTotal);
            $("#reportProgress").progressbar( "option", "max", 1 );
            $("#reportProgress").progressbar( "option", "value", progress );
            if ( (progress * 100).toFixed(0) == 100 ) {
              $( "#loadingMessage").html('Lila: I have that report almost ready now, I will have it up in just a minute or two...');
            } else {
              $("#loadingMessage").html('Lila: I\'m putting that report together now, maybe you should come back later.  Don\'t you have some quests to do?')
            }
            $("#reportPercent").html('.:' + (progress * 100).toFixed(0) + '%:.')
            await new Promise(r => setTimeout(r, 4000));
            generateReport(generateAddress, generateStart, generateEnd, costBasis, includeHarmony, includeDFKChain, includeKlaytn, includeAvalanche);
          } else if (reportStatus == 'fetchingtx') {
            var progress = getProgress(reportStatus, data.response.transactionsFetched, 0, data.response.transactionsTotal);
            $("#reportProgress").progressbar( "option", "max", 1 );
            $("#reportProgress").progressbar( "option", "value", progress );
            $("#loadingMessage").html('Lila: Oh, I know I have that info here somewhere, looking for your records now.')
            $("#reportPercent").html('.:' + (progress * 100).toFixed(0) + '%:.')
            await new Promise(r => setTimeout(r, 2000));
            generateReport(generateAddress, generateStart, generateEnd, costBasis, includeHarmony, includeDFKChain, includeKlaytn, includeAvalanche);
          } else if (reportStatus == 'initiated') {
            $("#lilaImg").attr('src', '{{ BASE_SCRIPT_URL }}static/images/gettingrecords.gif');
            $("#reportProgress").progressbar( "option", "max", 1 );
            $("#reportProgress").progressbar( "option", "value", 0 );
            $("#exportContainer").hide(500);
            await new Promise(r => setTimeout(r, 2000));
            generateReport(generateAddress, generateStart, generateEnd, costBasis, includeHarmony, includeDFKChain, includeKlaytn, includeAvalanche);
          } else {
            // If no status was returned, there must have been some kind of failure and an Error message should be in response
            $("#loadingSection").css("display","none");
            $("#mappingSection").css("display","none");
            $("#loadingMessage").html('Lila: Hi, Things are pretty hectic around here right now.');
            $("#reportProgress").progressbar( "option", "value", false);
            $("#reportPercent").html("");
            $("#mappingProgress").progressbar( "option", "value", false);
            $("#mappingMessage").html("Loading Transactions...");
            var genButton = document.getElementById('goFilter');
            genButton.disabled = false;
            alert(data.response)
          }
        }, "json"
    );
    return false;
}
</script>
<body>
<div>
  <h1><span id="dfkrptTitle">DeFi Kingdoms: Lila's Ledger</span>
    <div style="float:right;margin-top:-16px;" id="loginBlock"><input id="connectWallet" type="button" value="Connect Wallet" onclick="connect();" class="lButton"><span id="member"></span><input id="loginButton" type="button" value="Login" onclick="login(true);" class="lButton" style="display:none;"><input id="logoutButton" type="button" value="Logout" onclick="logout();" class="lButton" style="display:none;"></div>
    <div style="float:right;"><a href="{{ BASE_SCRIPT_URL }}members.py" title="go to member setup page"><img src="{{ BASE_SCRIPT_URL }}static/images/account.png" style="max-width:48px;margin-right:14px;"/></a></div>
  </h1>
</div>
<div id="mainContent" class="wrapper">
  <div id="leftNavContent" class="ghCol">
    <div id="reportCriteria" class="ghWidgetBox ui-widget-content">
      <form id="reportSearch" name="reportSearch">
      <div class="boxHeader ui-widget-header">Report Options
        <a href="{{ BASE_SCRIPT_URL }}help.py" alt="read documentation"><img src="{{ BASE_SCRIPT_URL }}static/images/help.png" style="max-width: 22px;float:right;"/></a></href>
      </div>
      <div class="sectionHead"></div>
      <fieldset id="dateRangeSet">
        <legend style="font-weight: bold;">Date Range Included:</legend>
        <div id="dateSetBox" class="fieldContainer">
          <div>Start Date: <input class="dateBox" type="text" id="startDate" size=10 /></div>
          <div class="sectionHead"></div>
          <div>End Date: <input class="dateBox" type="text" id="endDate" size=10 /></div>
        </div>
        <div class="sectionHead"></div>
      </fieldset>
      <div class="sectionHead"></div>
      <fieldset class="chainSelect">
        <input type="checkbox" id="optHarmony" name="optHarmony" checked="checked"/>
        <label for="optHarmony" title="Toggle to include Harmony data"><img src="{{ BASE_SCRIPT_URL }}static/images/harmony.png" class="chainButton"/></label>
        <input type="checkbox" id="optDFKChain" name="optDFKChain" checked="checked"/>
        <label for="optDFKChain" title="Toggle to include DFK Chain (Crystalvale) data"><img src="{{ BASE_SCRIPT_URL }}static/images/dfk-chain.png" class="chainButton"/></label>
        <input type="checkbox" id="optKlaytn" name="optKlaytn" checked="checked"/>
        <label for="optKlaytn" title="Toggle to include Klaytn data"><img src="{{ BASE_SCRIPT_URL }}static/images/klaytn.png" class="chainButton"/></label>
        <input type="checkbox" id="optAvalanche" name="optAvalanche"/>
        <label for="optAvalanche" title="Toggle to include Avalanche data"><img src="{{ BASE_SCRIPT_URL }}static/images/avalanche.png" class="chainButton"/></label>
      </fieldset>
      <div class="sectionHead"></div>
      <div style="padding: 4px;margin-top:56px;">
        <fieldset id="costBasisSet" class="multiToggle">
          <legend style="font-weight: bold;">Cost Basis:</legend>
          <input type="radio" name="cbs" id="fifo" value="fifo">
          <label for="fifo">First in - First Out</label>
          <input type="radio" name="cbs" id="lifo" value="lifo">
          <label for="lifo">Last in - First Out</label>
          <input type="radio" name="cbs" id="hifo" value="hifo">
          <label for="hifo">Highest in - First Out</label>
          <input type="radio" name="cbs" id="acb" value="acb">
          <label for="acb">Adjusted (CAN)</label>
        </fieldset>
      </div>
      <div class="sectionHead"></div>
      <div class="searchInput" style="text-align:center">
        <input type="button" value="Add Wallet Purchase Addresses" class="ui-button" onclick="$('#addressEntry').show(500);" style="z-index: 150;"/>
      </div>
      <div id="addressEntry" style="display:none;">
        <label for="purchaseAddresses">Treat xfers to these addresses as taxable</label>
        <textarea id="purchaseAddresses" name="purchaseAddresses" rows="4" cols="42" maxlength="1000"></textarea>
      </div>
      <div class="sectionHead"></div>
      <div class="searchInput" style="text-align:center">
        <input type="button" value="Reset" class="ui-button" onclick="optionsReset()"/>
      </div>
      </form>
      <div id="opaqueIcon"><img src="{{ BASE_SCRIPT_URL }}static/images/favicon.png" style="max-width: 64px;opacity: 50%;" /></div>
    </div>
    <div id="supportBox" class="ghWidgetBox" style="height:280px;text-align: center;background-image: url({{ BASE_SCRIPT_URL }}static/images/{{ bankState }}.jpg);background-repeat:no-repeat;">
      <h3 style="margin-bottom: 60px;margin-top: 20px;">{{ bankMessage }}</h3>
      <h1 id="bankProgress" title="Total amount of donations received this month." style="margin-bottom: 60px;">{{ bankProgress }}</h1>
      <img src="{{ BASE_SCRIPT_URL }}static/images/jewel.png" style="max-width:32px;"/>
      <div class="inlineBlock"><a class="orphanButton" href="{{ BASE_SCRIPT_URL }}about.py" target="_blank">Donate Now</a></div>
      <img src="{{ BASE_SCRIPT_URL }}static/images/crystal.png" style="max-width:32px;"/>
    </div>
  </div>
  <div id="rightMainContent" class="ghCol">
    <div id="reportContainer" class="ghWidgetBox ui-widget-content">
      <div class="boxHeader ui-widget-header" style="height:24px;">
        <div id="results_title" style="float:left;">Report Generation</div>
      </div>
      <div id="reportInfo">
        <div id="generateSection">
          <div id="multiWalletSelect" style="display:none;">
            <label for="groupSel">Multi-Wallet:</label>
            <select name="groupSel" id="groupSel" class="popSel" onchange="$('#ethAddress').val($(this).val())"></select>
            or
          </div>
          <label for="ethAddress">Eth Address:</label>
          <input type=text id="ethAddress" name="ethAddress" size=40 placeholder="Wallet Address 0x..." />
          <input id="goFilter" type="button" value="Generate!" class="ui-button" onclick="this.disabled=true;generateReport($('#ethAddress').val(), $('#startDate').val(), $('#endDate').val(), $('input[name=cbs]:checked').val(), $('input[name=optHarmony]:checked').val(), $('input[name=optDFKChain]:checked').val(), $('input[name=optKlaytn]:checked').val(), $('input[name=optAvalanche]:checked').val(), encodeURIComponent($('#purchaseAddresses').val()));" />
        </div>
        <div id="loadingSection" style="display: none;">
          <img src="{{ BASE_SCRIPT_URL }}static/images/gettingrecords.gif" id="lilaImg" class="goldBorder lilaBox" />
          <div class="talk-bubble tri-right round border right-top">
            <div class="talktext">
              <p id="loadingMessage">Lila: Hi, I can help you.</p>
            </div>
          </div>
          <div id="reportProgress"></div>
          <div id="reportPercent"></div>
        </div>
      </div>
    </div>
    <div id="releaseNotes" class="ghWidgetBox ui-widget-content">
      <h3>Latest Updates</h3>
      <div class="sectionHead"></div>
      <ul>
        <li><span style="font-style:italic;">2023-01-28:</span> Multi-wallet release!
          <ul>
            <li>New Members page with subscription tools/status using wallet connect and sign for login.</li>
            <li>Reports now launch in a separate page after generating.</li>
            <li>Subscribers can define wallet groups to run multi-wallet reports</li>
            <li>Subscribers can browse and launch past generated reports.</li>
            <li>Token Tax CSV Export format added.</li>
          </ul>
        </li>
        <li><span style="font-style:italic;">2022-12-11:</span> Klaytn/Serendale 2.0 Added.</li>
        <li><span style="font-style:italic;">2022-11-13:</span> Add new Jeweler (cJewel) activity</li>
        <li><span style="font-style:italic;">2022-11-04:</span> Add detection for Dark Summoning</li>
        <li><span style="font-style:italic;">2022-10-19:</span> Fix issue with DFKChain transaction list lookup by switching to Covalent API resource.</li>
        <li><span style="font-style:italic;">2022-09-11:</span> Fix price conversion for items on Harmony to not use depegged USDC and improve lookup of cached records performance.</li>
        <li><span style="font-style:italic;">2022-08-01:</span> Detect Crystalvale Alchemist events.</li>
        <li><span style="font-style:italic;">2022-07-16:</span> Detect Crystalvale Meditation Circle events.</li>
        <li><span style="font-style:italic;">2022-07-12:</span> Added Crystalvale quest rewards.</li>
        <li><span style="font-style:italic;">2022-06-17:</span> Include Pet Trade In events and DFK Duel events under NFT section.</li>
        <li><span style="font-style:italic;">2022-06-11:</span> Add CoinLedger CSV export format option.</li>
        <li><span style="font-style:italic;">2022-05-29:</span> Add Pet Hatching expenses and correlate to sales for cost basis.</li>
        <li><span style="font-style:italic;">2022-05-25:</span> Add Pet Buy/Sell activity.</li>
        <li><span style="font-style:italic;">2022-05-11:</span> Add detection for Stone Carver crafting.</li>
        <li><span style="font-style:italic;">2022-05-05:</span> Include Crystalvale Tavern and Summoning events.</li>
        <li><span style="font-style:italic;">2022-04-21:</span> Include rewards from Training quests.</li>
        <li><span style="font-style:italic;">2022-04-09:</span> Added Canadian Adjusted Cost Basis option. (Note: no superficial loss detection)</li>
        <li><span style="font-style:italic;">2022-04-06:</span> Detect charitable donations and list under expenses section in Tax Report.</li>
      </ul>
    </div>
  </div>
</div>
<div class="footer">
	<a href="{{ BASE_SCRIPT_URL }}home.py" title="Report page">Home</a> | <a href="{{ BASE_SCRIPT_URL }}help.py" title="Get help" target="_blank">Help</a> | <a href="https://github.com/pwillworth/dfkreport" title="Open Source Code for the application" target="_blank">Source</a> | <a href="https://github.com/pwillworth/dfkreport/discussions" title="Ask questions or submit ideas" target="_blank">Contact</a> | <a href="{{ BASE_SCRIPT_URL }}about.py" title="Support us and get info" target="_blank">About</a>
	<p style="padding: 4px;font-weight:normal;font-size: .7em;">This utility is intended to help quantify potential taxable events for account activity within the <a href="https://defikingdoms.com">DeFi Kingdoms</a> game.  It makes no claims at being a full accounting of your tax liablity.</p>
</div>
<div id="frame_box" style="display:none;"></div>
</body></html>
