<html lang="en">
<head>
  <title>Members Page</title>
  <meta property="og:title" content="Lila's Ledger Member Page">
  <meta property="og:description" content="Defi Kingdoms Transaction History reporting to help quantify potential taxable events.">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta property="og:image" content="{{ BASE_SCRIPT_URL }}static/images/favicon.png">
  <link rel="stylesheet" type="text/css" href="/static/dfktax.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/static/jquery-ui.min.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/static/jquery-ui.structure.min.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/static/jquery-ui.theme.min.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/static/dfktax.css" media="screen" />
  <script src="/static/dfktax.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.4-rc.1/web3.min.js"></script>
</head>
<body>
<script>
const tokenRatios = {
  '0x19Aac5f612f524B754CA7e7c41cbFa2E981A4432': 0.25, //klay
  '0xCCb93dABD71c8Dad03Fc4CE5559dC3D89F67a260': 0.50, //dfkJewel
  '0x30C103f8f5A3A732DFe2dCE1Cc9446f545527b43': 0.50, //klayJewel
  '0x04b9dA42306B023f3572e106B11D82aAd9D32EBb': 0.05, //crystal
  '0xB3F5867E277798b50ba7A71C0b24FDcA03045eDF': 0.05 //jabe
}
const dfkcTokens = {
  '0xCCb93dABD71c8Dad03Fc4CE5559dC3D89F67a260': 'Jewel',
  '0x04b9dA42306B023f3572e106B11D82aAd9D32EBb': 'Crystal'
}
const klayTokens = {
  '0x30C103f8f5A3A732DFe2dCE1Cc9446f545527b43': 'Jewel',
  '0xB3F5867E277798b50ba7A71C0b24FDcA03045eDF': 'Jade',
  '0x19Aac5f612f524B754CA7e7c41cbFa2E981A4432': 'Klay'
}
window.onload = (event) => {
  sid = getCookie('sid', '');
  isConnected()
  window.web3 = new Web3(window.ethereum);
  let interval = setInterval(() => {
      refreshLists();
  }, 60000);
  switchView('{{ memberState }}');
  // keep the footer at the bottom
  if (window.innerHeight > 200) {
    document.getElementById('accountDetails').style.height = window.innerHeight - 130;
  }
  setTimeout(refreshTokens, 2000);
};
window.ethereum.on('accountsChanged', function (accounts) {
  window.location.reload();
});
ethereum.on('chainChanged', (chainId) => {
  window.location.reload();
});
function refreshTokens() {
  var tokenSel = document.getElementById('tokenSelect');
  tokenSel.innerHTML = '<option value="0">Select token...</option>';
  switch (ethereum.networkVersion) {
    case '53935':
      tokens = dfkcTokens;
      break;
    case '8217':
      tokens = klayTokens;
      break;
    default:
      console.log(`Unsupported chain: ${ethereum.networkVersion}`);
      var statusElm = document.getElementById('chainStatus');
      statusElm.innerHTML = 'Error: Must be connected to DFKChain or Klaytn.';
      tokens = {};
  }
  for (const [key, value] of Object.entries(tokens)) {
    var opt = document.createElement("option");
    opt.value = key;
    opt.text = value;
    tokenSel.add(opt);
  }
}
function switchView(memberState) {
  //0=not loggged in, 1=inactive, 2=active
  memberState = memberState.toString();
  console.log(`switching state ${memberState}`);
  switch (memberState) {
    case '2':
      document.getElementById('groupPage').style.display = 'block';
      document.getElementById('reportPage').style.display = 'block';
      document.getElementById('subscribePage').style.display = 'none';
      document.getElementById('connectPage').style.display = 'none';
      document.getElementById('loginPage').style.display = 'none';
      document.getElementById('benefitsPage').style.display = 'none';
      document.getElementById('benefitsHeader').style.display = 'none';
      break;
    case '1':
      document.getElementById('groupPage').style.display = 'none';
      document.getElementById('reportPage').style.display = 'none';
      document.getElementById('subscribePage').style.display = 'block';
      document.getElementById('connectPage').style.display = 'none';
      document.getElementById('loginPage').style.display = 'none';
      document.getElementById('benefitsPage').style.display = 'block';
      document.getElementById('benefitsHeader').style.display = 'block';
      break;
    case '0':
      document.getElementById('groupPage').style.display = 'none';
      document.getElementById('reportPage').style.display = 'none';
      document.getElementById('subscribePage').style.display = 'none';
      if (isConnected()) {
        document.getElementById('connectPage').style.display = 'none';
        document.getElementById('loginPage').style.display = 'block';
      } else {
        document.getElementById('connectPage').style.display = 'block';
        document.getElementById('loginPage').style.display = 'none';
      }
      document.getElementById('benefitsPage').style.display = 'block';
      document.getElementById('benefitsHeader').style.display = 'block';
      break;
    default:
      //nada
  }
}
function refreshLists() {
  loadGroups();
  loadReports();
}
function loadReports() {
  if (!isConnected()) {
    alert('you need to connect a wallet first!');
    return;
  }
  const wAddress = selectedAccount;
  var request = new XMLHttpRequest();
  request.open('POST', `${BASE_SCRIPT_URL}getReportList?account=${wAddress}&sid=${sid}`, true);
  console.log(`loading: ${BASE_SCRIPT_URL}getReportList?account=${wAddress}&sid=sid${sid}`);
  request.onload = function() {
    console.log('load completed');
    if (!request.status || (request.status >= 400)) {
      alert('Failed to load reports.');
    } else {
      var resp = JSON.parse(request.responseText);
      if ('error' in resp) {
        document.getElementById('reportList').innerHTML = resp['error'];
      } else {
        reportTable(resp);
        console.log('loaded');
      }
    }
  };
  request.send();
}
function loadGroups() {
  if (!isConnected()) {
    alert('you need to connect a wallet first!');
    return;
  }
  const wAddress = selectedAccount;
  var request = new XMLHttpRequest();
  request.open('POST', `${BASE_SCRIPT_URL}getGroupList?account=${wAddress}&sid=${sid}`, true);
  console.log(`loading: ${BASE_SCRIPT_URL}getGroupList?account=${wAddress}&sid=${sid}`);
  request.onload = function() {
    if (!request.status || (request.status >= 400)) {
      alert('Failed to load wallet groups.');
    } else {
      var resp = JSON.parse(request.responseText);
      if ('error' in resp) {
        document.getElementById('groupList').innerHTML = resp['error'];
      } else {
        groupTable(resp);
        console.log('loaded');
      }
    }
  };
  request.send();
}

function reportTable(data) {
  const reportStatus = ['Created','Processing','Complete','unknown','unknown','unknown','unknown','In Queue','Blockchain Error', 'Site Error'];
  var listElm = document.getElementById('reportList');
  var newRow = document.createElement('tr');
  listElm.innerHTML = '';
  newRow.innerHTML = '<th>Wallet</th><th>Network</th><th>Status</th><th>Updated Through</th><th>Transactions</th><th>Percent Complete</th>';
  listElm.appendChild(newRow);
  data['reports'].forEach((report) => {
    if ( report[0].substring(0, 2) == '0x' ) {
      var addr = report[0].substring(0, 6) + '...' + report[0].substring(38, 42);
    } else {
      var addr = report[0];
    }
    var progress = 0;
    var status = reportStatus[report[3]];
    if (report[3] == 0) {
      progress = Math.min(getProgress('fetchingtx', report[7], report[8], report[9])*100, 100);
    } else if ( report[3] == 2 ) {
      progress = 100;
    } else {
      progress = Math.min(getProgress('generating', report[9], report[8], report[9])*100, 100);
    }
    var newRow = document.createElement('tr');
    var pAnimate = '';
    var updateThroughTimestamp = '-';
    var updateRecords = '0';
    if (report[3] < 2) {
      pAnimate = '<div class="lds-ripple"><div></div><div></div></div>';
      updateThroughTimestamp = report[5];
      updateRecords = `${report[8]}/${report[9]}`;
    } else {
      updateThroughTimestamp = Math.max(report[5], report[6]);
      updateRecords = report[9];
    }
    updateThroughDate = new Date(updateThroughTimestamp * 1000);
    updateThroughDateTime = `${updateThroughDate.toLocaleDateString()} ${updateThroughDate.toLocaleTimeString()}`;
    newRow.innerHTML = `<td>${addr}</td><td>${report[1]}</td><td>${status}${pAnimate}</td><td>${updateThroughDateTime}</td><td>${updateRecords}</td><td>${progress.toFixed(0)}%</td>`;
    listElm.appendChild(newRow);
  });
}
function groupTable(data) {
  var listElm = document.getElementById('groupList');
  var newRow = document.createElement('tr');
  listElm.innerHTML = '';
  newRow.innerHTML = '<th style="width:10%" width="10%">Group Name</th><th style="width:80%" width="80%">Wallets</th><th style="width:10%" width="10%">Remove</th>';
  listElm.appendChild(newRow);
  data['groups'].forEach((report) => {
    var gName = report[1];
    var gWallets = JSON.parse(report[2]);
    var walletList = '';
    for (let i=0; i < gWallets.length; i++) {
      walletList = walletList + gWallets[i] + ','
    }
    var newRow = document.createElement('tr');
    newRow.innerHTML = `<td style="width:10%">${gName}</td><td style="width: 80%">${walletList}</td><td style="width: 10%"><input type="button" value="Delete" onclick="removeGroup(event, '${gName}');" class="lButton" />`;
    newRow.addEventListener('click', function() {
      editGroup(report[1], gWallets);
    });
    newRow.style.cursor = 'pointer';
    listElm.appendChild(newRow);
  });
}
function createGroup(groupName, walletList) {
  if (!isConnected()) {
    alert('you need to connect a wallet first!');
    return;
  }
  document.getElementById("createGroup").disabled = true;
  const account = web3.eth.accounts;
  const wAddress = account.givenProvider.selectedAddress;
  var request = new XMLHttpRequest();
  var wallets = encodeURIComponent(walletList);
  request.open('POST', `${BASE_SCRIPT_URL}postGroupList?account=${wAddress}&sid=${sid}&groupName=${groupName}&wallets=${wallets}`, true);
  console.log(`loading: ${BASE_SCRIPT_URL}postGroupList?account=${wAddress}&sid=${sid}&groupName=${groupName}&wallets=${wallets}`);
  request.onload = function() {
    if (!request.status || (request.status >= 400)) {
      alert('Failed to add wallet group due to server error.');
    } else {
      var resp = JSON.parse(request.responseText);
      if ('error' in resp) {
        alert(resp['error']);
      } else {
        hideWindow('groupDialog');
        loadGroups();
      }
    }
    document.getElementById("createGroup").disabled = false;
  };
  request.send();
}
function removeGroup(event, groupName) {
  event.stopPropagation();
  if (!isConnected()) {
    alert('you need to connect a wallet first!');
    return;
  }
  const account = web3.eth.accounts;
  const wAddress = account.givenProvider.selectedAddress;
  var request = new XMLHttpRequest();
  var wallets = encodeURIComponent(walletList);
  request.open('POST', `${BASE_SCRIPT_URL}removeGroupList?account=${wAddress}&sid=${sid}&groupName=${groupName}`, true);
  console.log(`loading: ${BASE_SCRIPT_URL}removeGroupList?account=${wAddress}&sid=${sid}&groupName=${groupName}`);
  request.onload = function() {
    if (!request.status || (request.status >= 400)) {
      alert('Failed to remove wallet group due to server error.');
    } else {
      var resp = JSON.parse(request.responseText);
      if ('error' in resp) {
        alert(resp['error']);
      } else {
        loadGroups();
      }
    }
  };
  request.send();
}
function addGroup() {
  document.getElementById('walletList').value = selectedAccount;
  document.getElementById('groupName').value = '';
  document.getElementById('createGroup').value = 'Create';
  showWindow('groupDialog');
}
function editGroup(currentName, currentList) {
  document.getElementById('walletList').value = currentList;
  document.getElementById('groupName').value = currentName;
  document.getElementById('createGroup').value = 'Update';
  showWindow('groupDialog');
}
// preview balance of selected token
async function updateBalanceInfo() {
  var tokenElm = document.getElementById('tokenSelect');
  var availableElm = document.getElementById('tokenAvailable');
  availableElm.innerHTML = '-';
  token = tokenElm.value;
  if (['0xCCb93dABD71c8Dad03Fc4CE5559dC3D89F67a260','0x19Aac5f612f524B754CA7e7c41cbFa2E981A4432'].includes(token)) {
    let result = await web3.eth.getBalance(selectedAccount);
    availableElm.innerHTML = Number(web3.utils.fromWei(result.toString(), 'ether')).toFixed(2);
  } else {
    const contract = new web3.eth.Contract(balanceOfABI, token)
    let result = await contract.methods.balanceOf(selectedAccount).call();
    availableElm.innerHTML = Number(web3.utils.fromWei(result.toString(), 'ether')).toFixed(2);
  }
}

// preview amount of time that will be added to subscription
function calcTimeToAdd() {
  var timeElm = document.getElementById('subTimeToAdd');
  var tokenElm = document.getElementById('tokenSelect');
  var amountElm = document.getElementById('tokenAmount');
  var newExpiresElm = document.getElementById('newExpires');
  var ratioValue = tokenRatios[tokenElm.value];
  var totalValue = amountElm.value * ratioValue;
  var secondsToAdd = totalValue * 86400 * 4;
  if (totalValue < 0.5) {
    secondsToAdd = 0;
  }
  if (totalValue > 10) {
    secondsToAdd = totalValue * 86400 * 6;
  }
  var nowTime = new Date();
  nowTime.setSeconds(nowTime.getSeconds() + secondsToAdd);
  if (Number("{{ secondsLeft }}") > 0) {
    nowTime.setSeconds(nowTime.getSeconds() + Number("{{ secondsLeft }}"));
  }
  timeElm.innerHTML = timeDescription(secondsToAdd);
  newExpiresElm.innerHTML = nowTime.toLocaleString();
  return secondsToAdd;
}

function timeDescription(seconds) {
  if (seconds > 0) {
		tmpDays = Math.floor(seconds / 86400)
		tmpStr = ''
		if (tmpDays > 0) {
			if (tmpDays > 365) {
				tmpStr = Math.floor(tmpDays / 365).toString() + " years, "
				tmpDays = tmpDays % 365
      }
			tmpStr = tmpStr + tmpDays.toString() + " days"
    } else if (seconds / 3600 >= 1) {
			tmpStr = Math.floor(seconds/3600).toString() + " hours"
    } else if (seconds / 60 >= 1) {
			tmpStr = Math.floor(seconds/60).toString() + " minutes"
    } else {
			tmpStr = "less than a minute"
    }
		return tmpStr
  } else {
    return '-';
  }
}
// Initiate payment tx for subscription8
async function paySubscription() {
  const donationAccount = '0x15Ca8d8d7048F694980C717369C55b53e4FbCAEe';
  var tokenElm = document.getElementById('tokenSelect');
  var amountElm = document.getElementById('tokenAmount');
  var sendElm = document.getElementById('tokenSend');
  let txValue = '0';
  let txTo = donationAccount;
  let data = '0x00';

  var addTime = calcTimeToAdd();
  console.log(addTime);
  if (addTime == 0) {
    alert('The amount entered is below the minimum amount to add subscription time.');
    return;
  }
  sendElm.disabled = true;
  if ( ['0xCCb93dABD71c8Dad03Fc4CE5559dC3D89F67a260','0x19Aac5f612f524B754CA7e7c41cbFa2E981A4432'].includes(tokenElm.value) ) {
    txValue = web3.utils.toWei(amountElm.value, 'ether');
    console.log(`set value ${txValue}`);
    var transactionParameters = {
      to: txTo,
      from: ethereum.selectedAddress,
      value: web3.utils.toHex(txValue),
      chainId: web3.utils.toHex(ethereum.networkVersion),
    };
  } else {
    let contract = new web3.eth.Contract(transferABI, tokenElm.value, { from: selectedAccount });
    let amount = web3.utils.toHex(web3.utils.toWei(amountElm.value));
    data = contract.methods.transfer(donationAccount, amount).encodeABI();
    txTo = tokenElm.value;
    console.log(`set data ${data}`);
    var transactionParameters = {
      to: txTo,
      from: ethereum.selectedAddress,
      value: web3.utils.toHex(txValue),
      data: data,
      chainId: web3.utils.toHex(ethereum.networkVersion),
    };
  }

  var statusElm = document.getElementById('paymentStatus');
  statusElm.innerHTML = 'Waiting for confirmation...';
  statusElm.style.display = 'block';
  // txHash is a hex string
  // As with any RPC call, it may throw an error
  var txHash = await ethereum.request({
    method: 'eth_sendTransaction',
    params: [transactionParameters],
  })
  .then((txHash) => checkTx(txHash))
  .catch((err) => {
    statusElm.innerHTML = 'Transaction Rejected';
    sendElm.disabled = false;
  });
}
function checkTx(txHash) {
  let statusElement = document.getElementById("paymentStatus")
  statusElement.innerHTML = "Waiting for transaction..."

  // Wait for tx to complete on chain before completing
  let interval = setInterval(() => {
      web3.eth.getTransactionReceipt(txHash, (err, receipt) => {
        if (receipt) {
            if (receipt.status === true) {
                paymentComplete(txHash);
            } else if (receipt.status === false) {
                statusElement.innerHTML = "Transaction Failed"
            }
            clearInterval(interval)
        }
      });
  }, 1000);
}
function paymentComplete(txHash) {
  var statusElm = document.getElementById('paymentStatus');
  statusElm.innerHTML = 'Updating account...';
  console.log(txHash);
  const account = web3.eth.accounts;
  const wAddress = account.givenProvider.selectedAddress;
  var network = '';
  switch (ethereum.networkVersion) {
    case '53935':
      network = 'dfkchain';
      break;
    case '8217':
      network = 'klaytn';
      break;
    default:
      network = '';
  }
  var request = new XMLHttpRequest();
  request.open('POST', `${BASE_SCRIPT_URL}validatePayment?account=${wAddress}&txHash=${txHash}&network=${network}`, true);
  console.log(`loading: ${BASE_SCRIPT_URL}validatePayment?account=${wAddress}&txHash=${txHash}&network=${network}`);
  request.onload = function() {
    if (!request.status || (request.status >= 400)) {
      alert('Failed to validate due to server error.');
    } else {
      var resp = JSON.parse(request.responseText);
      if ('error' in resp) {
        statusElm.innerHTML = resp['error'];
        var sendElm = document.getElementById('tokenSend');
        sendElm.disabled = false;
      } else {
        location.reload();
      }
    }
  };
  request.send();
}
</script>
<div style="height: 100px;">
  <h1><span id="dfkrptTitle">DeFi Kingdoms: Lila's Ledger</span>
    <div style="float:right;" id="loginBlock"><input id="connectWallet" type="button" value="Connect Wallet" onclick="connect();" class="lButton"><span id="member"></span><input id="loginButton" type="button" value="Login" onclick="login(true);" class="lButton" style="display:none;"><input id="logoutButton" type="button" value="Logout" onclick="logout();" class="lButton" style="display:none;"></div>
    <div style="float:right;"><a href="{{ BASE_SCRIPT_URL }}home" title="go to home page"><img src="{{ BASE_SCRIPT_URL }}static/images/home.png" style="max-width:48px;margin-right:14px;"/></a></div>
  </h1>
</div>
<div id="mainContent" class="wrapper">
  <div id="leftNavContent" class="ghCol">
    <div id="accountDetails" class="ghWidgetBox ui-widget-content">
    {% if memberState > 0 %}
      <div class="sectionHead"></div>
      <h3>Your Account:</h3>
      {% if secondsLeft < 0 %}
      <div id="accountExpiration">Subscription Expired: <span style="font-weight:bold;">{{ expiryDescription }}</span></div>
      {% elif secondsLeft > 0 %}
      <div id="accountExpiration">Subscription Expires: <span style="font-weight:bold;">{{ expiryDescription }}</span></div>
      {% else %}
      <div id="accountExpiration">Not Subscribed</div>
      {% endif %}
      <div style="margin:8px;">
        <div class="boxHeader ui-widget-header" style="margin-top:24px;">Add time to your subscription</div>
        <form>
          <table id="paymentTable">
            <tr><td colspan="2"><span id="chainStatus" style="color: darkred;"></span></td></tr>
            <tr><td><select id="tokenSelect" onchange="updateBalanceInfo();calcTimeToAdd();"><option value="0">Select token...</option></select></td><td><span id="tokenAvailable" style="color:green;">-</span><span> Available</span></td></tr>
            <tr><td><h4>Amount:</h4></td><td><input type="text" id="tokenAmount" size="10" onkeyup="calcTimeToAdd();" /></td></tr>
            <tr><td><h4>Time to Add:</h4></td><td><span id="subTimeToAdd"></span></td></tr>
            <tr><td><h4>New Expiration:</h4></td><td><span id="newExpires"></span></td></tr>
            <tr><td colspan="2" style="text-align:center;"><input id="tokenSend" type="button" value="Add" class="ui-button" onclick="paySubscription();" /></tr>
          </table>
        </form>
      </div>
      <div id="paymentStatus" style="width: 100%;"></div>
      <div style="margin:8px;">
        <div class="boxHeader ui-widget-header">Validate Manual Payment
          <img src="{{ BASE_SCRIPT_URL }}static/images/help.png" style="max-width: 22px;float:right;" title="If you have made a donation to the donation address in the past you can credit that to your subscription here by entering the transaction hash and clicking validate.  Make sure you are connected to the chain where you made the payment first."/>
        </div>
        <input id="txHash" type="text" style="width:100%;" placeholder="tx hash 0x..." />
        <div style="width: 100%;text-align:center;margin: 8px;">
        <input id="tokenSend" type="button" value="Validate" class="ui-button" onclick="paymentComplete(document.getElementById('txHash').value);" />
        </div>
      </div>
    {% else %}
      <div id="accountExpiration">Login first to access your settings.</div>
    {% endif %}
    </div>
  </div>
  <div id="rightMainContent" class="ghCol">
    <div id="accountReports" class="ghWidgetBox ui-widget-content">
      <div class="reportPage" id="connectPage">
        <h2 style="text-align: center;cursor: pointer;" onclick="connect();">Connect your wallet to get started.</h2>
      </div>
      <div class="reportPage" id="loginPage">
        <h2 style="text-align: center;cursor: pointer;" onclick="login(true);">Login to activate your subscription.</h2>
      </div>
      <div class="reportPage" id="subscribePage">
        <h2 style="text-align: center;">Subscribe Now</h2>
      </div>
      <div class="sectionHead"></div>
      <h3 id="benefitsHeader">Connect and subscribe to enjoy these benefits:</h3>
      <div id="benefitsPage">
        <ul class="checkList">
          <li>Run reports for multiple wallets combined</li>
          <li>View and launch past reports</li>
          <li>Cached transactions and saved reports not removed after 30 days</li>
          <li>Manage multiple pre-defined wallet groups for reports</li>
        </ul>
      </div>
      <div id="groupPage" style="margin: 12px;">
        <div class="tableTop ui-widget-header">My Wallet Groups<input id="addGroupButton" type="button" value="New Group" onclick="addGroup();" class="lButton" style="float:right;"/></div>
        <table id="groupList" class="statusList" width="100%"></table>
      </div>
      <div class="sectionHead"></div>
      <div id="reportPage" style="margin: 12px;">
        <div class="tableTop ui-widget-header">My Transaction Data</div>
        <table id="reportList" class="statusList"></table>
      </div>
    </div>
  </div>
</div>
<div class="footer">
	<a href="{{ BASE_SCRIPT_URL }}" title="Report page">Home</a> | <a href="{{ BASE_SCRIPT_URL }}help" title="Get help" target="_blank">Help</a> | <a href="https://github.com/pwillworth/dfkreport" title="Open Source Code for the application" target="_blank">Source</a> | <a href="https://github.com/pwillworth/dfkreport/discussions" title="Ask questions or submit ideas" target="_blank">Contact</a> | <a href="{{ BASE_SCRIPT_URL }}about" title="Support us and get info" target="_blank">About</a>
	<p style="padding: 4px;font-weight:normal;font-size: .7em;">This utility is intended to help summarize and/or export transaction activity within the <a href="https://defikingdoms.com">DeFi Kingdoms</a> game.</p>
</div>
<div id="groupDialog" class="window">
  <h2 style="display: inline;">New Wallet Group</h2><div style="float: right;position: relative;top:0px;"><a href="#" class="close" onclick="hideWindow('groupDialog')">Close</a></div>
  <div class="searchInput"><label for="groupName">Group Name:</label><br /><input type="text" id="groupName" size="44" maxlength="60" value="" /></div>
  <div class="searchInput"><label for="walletList">Wallets:</label><br /><textarea id="walletList" name="walletList" rows="4" cols="42" maxlength="2000"></textarea></div>
  
  <div id="busyImgAdd" style="display:none;float:right;"><div class="lds-ripple"><div></div><div></div></div></div>
  <span id="addInfo"></span>
  <div style="float:right;margin:6px;padding-top:40px;"><input type="button" class="lButton" value="Create" id="createGroup" onclick="createGroup(document.getElementById('groupName').value, document.getElementById('walletList').value);" /></div>
</div>
<div id="mask" onclick="hideWindow('groupDialog')"></div>
</body>
</html>