<html lang="en">
<head>
  <title>Members Page</title>
  <meta property="og:title" content="Lila's Ledger Member Page">
  <meta property="og:description" content="Defi Kingdoms Transaction History reporting to help quantify potential taxable events.">
  <meta property="og:image" content="{{ BASE_SCRIPT_URL }}static/images/favicon.png">
  <link rel="stylesheet" type="text/css" href="/static/dfktax.css" media="screen" />
  <script src="/static/dfktax.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.4-rc.1/web3.min.js"></script>
</head>
<body>
<script>
window.onload = (event) => {
  sid = getCookie('sid', '');
  if (isConnected()) {
    connect();
  }
  setTimeout('refreshLists', 120000);
};
window.ethereum.on('accountsChanged', function (accounts) {
  console.log(`wallet changed to ${accounts[0]}!`);
  resetConnection();
  if (isConnected()) {
    connect();
  }
});
function refreshLists() {
  loadGroups();
  loadReports();
}
function loadReports() {
  if (!isConnected()) {
    alert('you need to connect a wallet first!');
    return;
  }
  const account = web3.eth.accounts;
  const wAddress = account.givenProvider.selectedAddress;
  var request = new XMLHttpRequest();
  request.open('GET', `{{ BASE_SCRIPT_URL }}getReportList.py?account=${wAddress}&sid=${sid}`, true);
  console.log(`loading: {{ BASE_SCRIPT_URL }}getReportList.py?account=${wAddress}&sid=${sid}`);
  request.onload = function() {
    console.log('load completed');
    if (!request.status || (request.status >= 400)) {
      alert('Failed to load reports.');
    } else {
      var resp = JSON.parse(request.responseText);
      if ('error' in resp) {
        document.getElementById('reportList').innerHTML = resp['error'];
      } else {
        reportTable(resp);
        console.log('loaded');
      }
    }
  };
  request.send();
  //setTimeout('loadReports()', 2000);
}
function loadGroups() {
  if (!isConnected()) {
    alert('you need to connect a wallet first!');
    return;
  }
  const account = web3.eth.accounts;
  const wAddress = account.givenProvider.selectedAddress;
  var request = new XMLHttpRequest();
  request.open('GET', `{{ BASE_SCRIPT_URL }}getGroupList.py?account=${wAddress}&sid=${sid}`, true);
  console.log(`loading: {{ BASE_SCRIPT_URL }}getGroupList.py?account=${wAddress}&sid=${sid}`);
  request.onload = function() {
    if (!request.status || (request.status >= 400)) {
      alert('Failed to load wallet groups.');
    } else {
      var resp = JSON.parse(request.responseText);
      if ('error' in resp) {
        document.getElementById('groupList').innerHTML = resp['error'];
      } else {
        groupTable(resp);
        console.log('loaded');
      }
    }
  };
  request.send();
}
function viewReport(contentFile) {
  window.open(`{{ BASE_SCRIPT_URL }}/report.py?contentFile=${contentFile}`);
}
function reportTable(data) {
  const reportStatus = ['Created','Processing','Complete'];
  var listElm = document.getElementById('reportList');
  var newRow = document.createElement('tr');
  listElm.innerHTML = '';
  newRow.innerHTML = '<th>Wallet</th><th>Date Range</th><th>Status</th><th>Transactions</th><th>Percent Complete</th><th>View</th>';
  listElm.appendChild(newRow);
  data['reports'].forEach((report) => {
    if ( report[0].substring(0, 2) == '0x' ) {
      var addr = report[0].substring(0, 6) + '...' + report[0].substring(38, 42);
    } else {
      var addr = report[0];
    }
    var status = reportStatus[report[4]];
    var percentFetched = report[6]/report[5]*100;
    var percentComplete = report[7]/report[5]*100;
    var newRow = document.createElement('tr');
    var actionColumn = '';
    if (status == 'Complete') {
      actionColumn = `<input type="button" value="View" onclick="viewReport('${report[8]}');" class="lButton" />`;
    }
    newRow.innerHTML = `<td>${addr}</td><td>${report[1]} - ${report[2]}</td><td>${status}</td><td>${report[5]}</td><td>${percentComplete.toFixed(0)}%</td><td>${actionColumn}</td>`;
    listElm.appendChild(newRow);
  });
}
function groupTable(data) {
  var listElm = document.getElementById('groupList');
  var newRow = document.createElement('tr');
  listElm.innerHTML = '';
  newRow.innerHTML = '<th>Group Name</th><th>Wallets</th><th>Remove</th>';
  listElm.appendChild(newRow);
  data['groups'].forEach((report) => {
    var gName = report[1];
    var gWallets = JSON.parse(report[2]);
    var walletList = '';
    for (let i=0; i < gWallets.length; i++) {
      walletList = walletList + gWallets[i] + ','
    }
    var newRow = document.createElement('tr');
    newRow.innerHTML = `<td>${gName}</td><td>${walletList}</td><td><input type="button" value="Delete" onclick="removeGroup(event, '${gName}');" class="lButton" />`;
    newRow.addEventListener('click', function() {
      editGroup(report[1], gWallets);
    });
    newRow.style.cursor = 'pointer';
    listElm.appendChild(newRow);
  });
}
function createGroup(groupName, walletList) {
  if (!isConnected()) {
    alert('you need to connect a wallet first!');
    return;
  }
  const account = web3.eth.accounts;
  const wAddress = account.givenProvider.selectedAddress;
  var request = new XMLHttpRequest();
  var wallets = encodeURIComponent(walletList);
  request.open('POST', `{{ BASE_SCRIPT_URL }}postGroupList.py?account=${wAddress}&sid=${sid}&groupName=${groupName}&wallets=${wallets}`, true);
  console.log(`loading: {{ BASE_SCRIPT_URL }}postGroupList.py?account=${wAddress}&sid=${sid}&groupName=${groupName}&wallets=${wallets}`);
  request.onload = function() {
    if (!request.status || (request.status >= 400)) {
      alert('Failed to add wallet group due to server error.');
    } else {
      var resp = JSON.parse(request.responseText);
      if ('error' in resp) {
        alert(resp['error']);
      } else {
        hideWindow('groupDialog');
        loadGroups();
      }
    }
  };
  request.send();
}
function removeGroup(event, groupName) {
  event.stopPropagation();
  if (!isConnected()) {
    alert('you need to connect a wallet first!');
    return;
  }
  const account = web3.eth.accounts;
  const wAddress = account.givenProvider.selectedAddress;
  var request = new XMLHttpRequest();
  var wallets = encodeURIComponent(walletList);
  request.open('POST', `{{ BASE_SCRIPT_URL }}removeGroupList.py?account=${wAddress}&sid=${sid}&groupName=${groupName}`, true);
  console.log(`loading: {{ BASE_SCRIPT_URL }}removeGroupList.py?account=${wAddress}&sid=${sid}&groupName=${groupName}`);
  request.onload = function() {
    if (!request.status || (request.status >= 400)) {
      alert('Failed to remove wallet group due to server error.');
    } else {
      var resp = JSON.parse(request.responseText);
      if ('error' in resp) {
        alert(resp['error']);
      } else {
        loadGroups();
      }
    }
  };
  request.send();
}
function addGroup() {
  document.getElementById('walletList').value = selectedAccount;
  document.getElementById('groupName').value = '';
  document.getElementById('createGroup').value = 'Create';
  showWindow('groupDialog');
}
function editGroup(currentName, currentList) {
  document.getElementById('walletList').value = currentList;
  document.getElementById('groupName').value = currentName;
  document.getElementById('createGroup').value = 'Update';
  showWindow('groupDialog');
}
</script>
<div style="height: 100px;">
  <h1><span id="dfkrptTitle">DeFi Kingdoms: Lila's Ledger</span>
    <div style="float:right;" id="loginBlock"><input id="connectWallet" type="button" value="Connect Wallet" onclick="connect();" class="lButton"><span id="member"></span><input id="loginButton" type="button" value="Login" onclick="login();" class="lButton" style="display:none;"><input id="logoutButton" type="button" value="Logout" onclick="logout();" class="lButton" style="display:none;"></div>
  </h1>
</div>
<div class="reportPage" id="groupPage">
  <h2 style="text-align: center;">My Wallet Groups<input id="addGroupButton" type="button" value="New Group" onclick="addGroup();" class="lButton" style="float:right;"/></h2>
    
  <table id="groupList" class="statusList"></table>
</div>
<div class="reportPage" id="reportPage">
  <h2 style="text-align: center;">My Tax Reports</h2>
    
  <table id="reportList" class="statusList"></table>
</div>
<div class="footer">
	<a href="{{ BASE_SCRIPT_URL }}home.py" title="Report page">Home</a> | <a href="{{ BASE_SCRIPT_URL }}help.py" title="Get help" target="_blank">Help</a> | <a href="https://github.com/pwillworth/dfkreport" title="Open Source Code for the application" target="_blank">Source</a> | <a href="https://github.com/pwillworth/dfkreport/discussions" title="Ask questions or submit ideas" target="_blank">Contact</a> | <a href="{{ BASE_SCRIPT_URL }}about.py" title="Support us and get info" target="_blank">About</a>
	<p style="padding: 4px;font-weight:normal;font-size: .7em;">This utility is intended to help quantify potential taxable events for account activity within the <a href="https://defikingdoms.com">DeFi Kingdoms</a> game.  It makes no claims at being a full accounting of your tax liablity.</p>
</div>
<div id="groupDialog" class="window">
  <h2 style="display: inline;">New Wallet Group</h2><div style="float: right;position: relative;top:0px;"><a href="#" class="close" onclick="hideWindow('groupDialog')">Close</a></div>
  <div class="searchInput"><label for="groupName">Group Name:</label><br /><input type="text" id="groupName" size="44" maxlength="60" value="" /></div>
  <div class="searchInput"><label for="walletList">Wallets:</label><br /><textarea id="walletList" name="walletList" rows="4" cols="42" maxlength="2000"></textarea></div>
  
  <div id="busyImgAdd" style="display:none;float:right;"><div class="lds-ripple"><div></div><div></div></div></div>
  <span id="addInfo"></span>
  <div style="float:right;margin:6px;padding-top:40px;"><input type="button" class="lButton" value="Create" id="createGroup" onclick="createGroup(document.getElementById('groupName').value, document.getElementById('walletList').value);" /></div>
</div>
<div id="mask" onclick="hideWindow('groupDialog')"></div>
</body>
</html>