<!DOCTYPE html>
<html lang="en"><head>
<title>Lila's Ledger - Report</title>
<meta property="og:title" content="Lila's Ledger - Report">
<meta property="og:description" content="Defi Kingdoms Transaction History reporting to help quantify potential taxable events.">
<meta property="og:image" content="{{ BASE_SCRIPT_URL }}static/images/favicon.png">
<link rel="shortcut icon" href="{{ BASE_SCRIPT_URL }}static/images/favicon.png" />
<link rel="stylesheet" type="text/css" href="/static/dfktax.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/jquery-ui.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/jquery-ui.structure.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/jquery-ui.theme.min.css" media="screen" />
<script src="/static/dfktax.js" type="text/javascript"></script>
<script src="/static/jquery.min.js"></script>
<script src="/static/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.4-rc.1/web3.min.js"></script>
<script type="text/javascript">

var currentView = 'tax';

$(document).ready(function() {
    sid = getCookie('sid', '');
    if (isConnected()) {
      connect();
    }
    $("#busyImg").css("display","none");
    optionsReset();
    $('.txHeader').hover(function() {
      $( this ).addClass('goldBorder');
    }, function() {
      $( this ).removeClass('goldBorder');
    });
    $('.txHeader').click(function() {
      $( this ).next('div').toggle(500);
      imgInd = $( this ).find('img');
      if ( $( imgInd ).attr('src') == '{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png') {
        $( this ).find('img.txIndicator').attr('src', '{{ BASE_SCRIPT_URL }}static/images/downArrowGrey16.png');
      } else {
        $( this ).find('img.txIndicator').attr('src', '{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png');
      }
    });
    if ('{{ contentFile }}' != '') {
      var addrDisplay = `{{ wallets }}
      `;
      if ( '{{ walletGroup }}' == '' ) {
        var addr = '{{ account }}';
        viewReport(addr, '{{ contentFile }}', 'tax');
      }
      $('#accountAddress').html(addrDisplay);
      if ({{ includedChains }} & 1) {
        $("#optHarmony").prop('checked', true);
      }
      if ({{ includedChains }} & 4) {
        $("#optDFKChain").prop('checked', true);
      }
      if ({{ includedChains }} & 8) {
        $("optKlaytn").prop('checked', true);
      }
      if ({{ includedChains }} & 2) {
        $("#optAvalanche").prop('checked', false);
      }
      $("#startDate").html('{{ startDate }}');
      $("#endDate").html('{{ endDate }}');
      var cbText = 'none';
      switch ('{{ costBasis }}') {
        case 'fifo':
          cbText = 'First In - First Out';
          break;
        case 'lifo':
          cbText = 'Last In - First Out';
          break;
        case 'hifo':
          cbText = 'Highest In - First Out';
          break;
        case 'acb':
          cbText = 'Adjusted (CAN)';
          break;
        default:
          cbText = 'none';
      }
      $("#costBasis").html(cbText);

      if ( '{{ purchaseAddresses }}' != '' && '{{ purchaseAddresses }}' != '[]') {
        $("#purchaseAddresses").html('{{ purchaseAddresses }}');
        $('#addressEntry').show();
      }
    }
});
var usdFormat = new Intl.NumberFormat('en-US', {
  style: 'currency',
  currency: 'USD',
})
$( function() {
    $( "#reportProgress, #mappingProgress" ).progressbar({
      value: false,
      max: 2000
    });
  } );
// Restore defaults for options
function optionsReset() {
  $("#optHarmony").prop('checked', true);
  $("#optDFKChain").prop('checked', true);
  $("optKlaytn").prop('checked', true);
  $("#optAvalanche").prop('checked', false);
  // Default to last year if it is early in year, this year otherwise
  var dt = new Date();
  var setYear = dt.getFullYear();
  if (dt.getMonth() < 5) {
    setYear = setYear -1;
  }
  $("#startDate").val(setYear + "-01-01");
  $("#endDate").val(setYear + "-12-31");
  $("#fifo").attr('checked', 'checked');
  $("#manual").attr('checked', 'checked');
  $("#purchaseAddresses").val('');
  $('#addressEntry').hide();
}
// Switch between Tax, Summary, and Transaction report views
function switchView(view) {
  if (view == 'tax') {
    currentView = 'tax';
    $("#viewTransaction").removeClass('tabSelect');
    $("#viewSummary").removeClass('tabSelect');
    $("#viewTax").addClass('tabSelect');
    $("#transactionReport").hide(500);
    $("#summaryReport").hide(500);
    $("#taxReport").show(500);
  } else if (view == 'transaction') {
    currentView = 'transaction';
    $("#viewTax").removeClass('tabSelect');
    $("#viewSummary").removeClass('tabSelect');
    $("#viewTransaction").addClass('tabSelect');
    $("#taxReport").hide(500);
    $("#summaryReport").hide(500);
    $("#transactionReport").show(500);
  } else {
    currentView = 'summary';
    $("#viewSummary").addClass('tabSelect');
    $("#viewTax").removeClass('tabSelect');
    $("#viewTransaction").removeClass('tabSelect');
    $("#taxReport").hide(500);
    $("#transactionReport").hide(500);
    $("#summaryReport").show(500);
  }
}
function refreshLists() {
  // triggered by ethereum connection completing for multiwallet reports by logged in users
  if ( '{{ walletGroup }}' != '' ) {
    viewReport(selectedAccount, '{{ contentFile }}', 'tax');
  }
}
// Load the old report in two steps after it is done, first tax report, then events
function viewReport(account, contentFile, contentType, eventGroup='all') {
  $.post(BASE_SCRIPT_URL + "view.py",{
        account: account,
        contentFile: contentFile,
        contentType: contentType,
        eventGroup: eventGroup,
        sid: sid}, function( data ) {
          if (contentType == 'tax') {
            reportRecords = data.response.tax_records;
            loadReport(data.response, contentType);
            $("#exportContainer").show(500);
            $("#loadingSection").css("display","none");
            $("#loadingMessage").html('Lila: I can help you.');
            $("#reportProgress").progressbar( "option", "value", false);
            $("#reportPercent").html("");
            for (let i = 0; i < event_groups.length; i++) {
              setTimeout(`viewReport("${account}","${contentFile}","transaction","${event_groups[i]}")`, 500);
            }
          } else {
            reportRecords = data.response.event_records;
            if (reportRecords != 'undefined') {
              loadReport(data.response, contentType, eventGroup);
              if (eventGroup == event_groups[event_groups.length-1]) {
                $("#mappingSection").css("display","none");
                $("#mappingProgress").progressbar( "option", "value", false);
                $("#mappingMessage").html("Loading Transactions...");
              }
            }
          }
        }, "json"
    );
    return false;
}
function exportData(format) {
  var csvFormat = $('input[name=csvf]:checked').val();
  var url = `${BASE_SCRIPT_URL}view.py?formatType=${format}&contentType=${currentView}&contentFile={{ contentFile }}&csvFormat=${csvFormat}`;
  var htm = '<iframe src="' + url + '" onload="downloadDone()"></iframe>';
  document.getElementById('frame_box').innerHTML = htm;
}
// todo figure out callback for iframe load
function downloadDone() {
  $("#mask").hide();
}
</script>
<body>
<div>
  <h1><span id="dfkrptTitle">DeFi Kingdoms: Lila's Ledger</span>
    <div style="float:right;" id="loginBlock"><input id="connectWallet" type="button" value="Connect Wallet" onclick="connect();" class="lButton"><span id="member"></span><input id="loginButton" type="button" value="Login" onclick="login();" class="lButton" style="display:none;"><input id="logoutButton" type="button" value="Logout" onclick="logout();" class="lButton" style="display:none;"></div>
  </h1>
</div>
<div id="mainContent" class="wrapper">
  <div id="leftNavContent" class="ghCol">
    <div id="reportCriteria" class="ghWidgetBox ui-widget-content">
      <div class="boxHeader ui-widget-header">Report For
        <a href="{{ BASE_SCRIPT_URL }}help.py" alt="read documentation"><img src="{{ BASE_SCRIPT_URL }}static/images/help.png" style="max-width: 22px;float:right;"/></a></href>
      </div>
      <div class="sectionHead">Account(s)</div>
      <div id="accountAddress"></div>
      <div class="sectionHead">Date Range</div>
      <span id="startDate"></span> to <span id="endDate"></span>
      <div class="sectionHead">Included Chains</div>
      <fieldset class="chainSelect">
        <input type="checkbox" id="optHarmony" name="optHarmony" checked="checked" disabled="disabled" />
        <label for="optHarmony" title="Toggle to include Harmony data"><img src="{{ BASE_SCRIPT_URL }}static/images/harmony.png" class="chainButton"/></label>
        <input type="checkbox" id="optDFKChain" name="optDFKChain" checked="checked" disabled="disabled" />
        <label for="optDFKChain" title="Toggle to include DFK Chain (Crystalvale) data"><img src="{{ BASE_SCRIPT_URL }}static/images/dfk-chain.png" class="chainButton"/></label>
        <input type="checkbox" id="optKlaytn" name="optKlaytn" checked="checked" disabled="disabled" />
        <label for="optKlaytn" title="Toggle to include Klaytn data"><img src="{{ BASE_SCRIPT_URL }}static/images/klaytn.png" class="chainButton"/></label>
        <input type="checkbox" id="optAvalanche" name="optAvalanche" disabled="disabled" />
        <label for="optAvalanche" title="Toggle to include Avalanche data"><img src="{{ BASE_SCRIPT_URL }}static/images/avalanche.png" class="chainButton"/></label>
      </fieldset>
      <div class="sectionHead"></div>
      <div class="sectionHead" style="clear: both;">Cost Basis</div>
      <div id="costBasis"></div>
      <div class="sectionHead"></div>
      <div style="padding: 4px;">
        <fieldset id="csvFormatSet" class="multiToggle">
          <legend style="font-weight: bold;">CSV Format:</legend>
          <input type="radio" name="csvf" id="coinledgeruniversal" value="coinledgeruniversal">
          <label for="coinledgeruniversal">CoinLedger Universal</label>
          <input type="radio" name="csvf" id="koinlyuniversal" value="koinlyuniversal">
          <label for="koinlyuniversal">Koinly Universal</label>
          <input type="radio" name="csvf" id="tokentax" value="tokentax">
          <label for="tokentax">Token Tax</label>
          <input type="radio" name="csvf" id="manual" value="manual">
          <label for="manual">Manual</label>
        </fieldset>
      </div>
        <div id="addressEntry" style="display: none;">
        <div class="sectionHead">Purchase Addresses</div>
        <div id="purchaseAddresses"></div>
      </div>
      <div class="sectionHead"></div>
      <button type=button value="Export CSV" class="ui-button" onclick="exportData('csv');" style="margin-left:20px;top: -2px;">Export CSV</button>
    </div>
    <div id="supportBox" class="ghWidgetBox" style="height:280px;text-align: center;background-image: url({{ BASE_SCRIPT_URL }}static/images/{{ bankState }}.jpg);background-repeat:no-repeat;">
      <h3 style="margin-bottom: 60px;margin-top: 20px;">{{ bankMessage }}</h3>
      <h1 id="bankProgress" title="Total amount of donations received this month." style="margin-bottom: 60px;">{{ bankProgress }}</h1>
      <img src="{{ BASE_SCRIPT_URL }}static/images/jewel.png" style="max-width:32px;"/>
      <div class="inlineBlock"><a class="orphanButton" href="{{ BASE_SCRIPT_URL }}about.py" target="_blank">Donate Now</a></div>
      <img src="{{ BASE_SCRIPT_URL }}static/images/crystal.png" style="max-width:32px;"/>
    </div>
  </div>
  <div id="rightMainContent" class="ghCol">
    <div id="reportContainer" class="ghWidgetBox ui-widget-content">
      <div class="boxHeader ui-widget-header" style="height:24px;">
        <div id="results_title" style="float:left;">Report Results
        </div>
        <div style="float:right;position:relative;top:0px;">
          <button id="viewTax" type=button value="Tax Report" class="tab-button tabSelect" onclick="switchView('tax')">Tax Report</button>
          <button id="viewSummary" type=button value="Summary" class="tab-button" onclick="switchView('summary')">Summary</button>
          <button id="viewTransaction" type=button value="Transactions" class="tab-button" onclick="switchView('transaction')">Transactions</button>
        </div>
      </div>
      <div id="reportInfo">
        <div id="loadingSection" style="display: none;">
          <img src="{{ BASE_SCRIPT_URL }}static/images/gettingrecords.gif" class="goldBorder lilaBox" />
          <div class="talk-bubble tri-right round border right-top">
            <div class="talktext">
              <p id="loadingMessage">Lila: Hi, I can help you.</p>
            </div>
          </div>
          <div id="reportProgress"></div>
          <div id="reportPercent"></div>
        </div>
        <div id="summaryReport" style="display: none;">
          <div id="paymentsTotal" class="summaryBox" style="width:95%;height:40px;" title="Totals your Jewel income from payments, airdrops, staking, and quests.">
            <h3 style="font-size:28px;">
            <span>Total Income from Payments: </span>
            <span id="paymentsTotalValue"></span>
            </h3>
          </div>
          <div id="gasTotal" class="summaryBox" style="width:95%;height:40px;display:none;" title="Totals fiat value total of all network transaction fees you paid.">
            <h3 style="font-size:28px;">
            <span>Total Transaction Gas Fees Paid: </span>
            <span id="gasTotalValue"></span>
            </h3>
          </div>
          <div id="quests_summary" class="summaryBox inlineBlock" style="height: 680px;">
            <div id="smy_quests_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/quest.png" class="smyIcon" /><span>Quest</span></div>
            <div id="smy_quests_data"></div>
          </div>
          <div id="swaps_summary" class="summaryBox inlineBlock" style="height: 680px;">
            <div id="smy_swaps_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/trader.png" class="smyIcon" /><span>Trader</span></div>
            <div id="smy_swaps_data"></div>
          </div>
          <div id="liquidity_summary" class="summaryBox inlineBlock" style="height: 680px;">
            <div id="smy_liquidity_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/liquidity.png" class="smyIcon" /><span>Liquidity</span></div>
            <div id="smy_liquidity_data"></div>
          </div>
          <div id="tavern_summary" class="summaryBox inlineBlock">
            <div id="smy_tavern_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/beer.png" class="smyIcon" /><span>NFTs</span></div>
            <div id="smy_tavern_data"></div>
          </div>
          <div id="gardens_summary" class="summaryBox inlineBlock">
            <div id="smy_gardens_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/gardens.png" class="smyIcon" /><span>Gardens</span></div>
            <div id="smy_gardens_data"></div>
          </div>
          <div id="bank_summary" class="summaryBox inlineBlock">
            <div id="smy_bank_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/bank.png" class="smyIcon" /><span>Bank</span></div>
            <div id="smy_bank_data"></div>
          </div>
          <div id="alchemist_summary" class="summaryBox inlineBlock">
            <div id="smy_alchemist_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/alchemist.png" class="smyIcon" /><span>Crafting</span></div>
            <div id="smy_alchemist_data"></div>
          </div>
          <div id="airdrops_summary" class="summaryBox inlineBlock">
            <div id="smy_airdrops_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/airdrop.png" class="smyIcon" /><span>Airdrop</span></div>
            <div id="smy_airdrops_data"></div>
          </div>
          <div id="wallet_summary" class="summaryBox inlineBlock">
            <div id="smy_wallet_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/wallet.png" class="smyIcon" /><span>Wallet</span></div>
            <div id="smy_wallet_data"></div>
          </div>
          <div id="lending_summary" class="summaryBox inlineBlock" style="width: 612px">
            <div id="smy_lending_header" class="smyHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/bank.png" class="smyIcon" /><span>Lending</span></div>
            <div id="smy_lending_data"></div>
          </div>
          <div class="footer"></div>
        </div>
        <div id="taxReport" class="reportPage">
          <h2 id="tax_gains_header">Capital Gains</h2>
          <table id="tax_gains_data" class="taxTable" style="display: none;">
            <tr><th>Description</th><th>Acquired Date</th><th>Sold Date</th><th>Proceeds</th><th>Costs</th><th>Gains</th></tr>
          </table>
          <h2 id="tax_income_header">Income</h2>
          <table id="tax_income_data" class="taxTable" style="display: none;">
            <tr><th>Description</th><th>Acquired Date</th><th>Income Date</th><th>Proceeds</th><th>Costs</th><th>Gains</th></tr>
          </table>
          <h2 id="tax_expenses_header">Expenses <span style="font-size: 10px;font-style:italic;">(Proceeds here are already represented above, this section is just informational to show potential unrealized gains.)</span></h2>
          <table id="tax_expenses_data" class="taxTable" style="display: none;">
            <tr><th>Description</th><th>Acquired Date</th><th>Sold Date</th><th>Proceeds</th><th>Costs</th><th>Gains</th></tr>
          </table>
        </div>
        <div id="transactionReport" class="reportPage" style="display: none;">
          <div id="mappingSection" style="display: none;">
            <div id="mappingProgress"></div>
            <div id="mappingMessage">Loading Transactions...</div>
          </div>
          <h2 id="tx_tavern_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png" class="txIndicator" /><span>NFTs</span><span id="tx_tavern_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/beer.png" class="txIcon" /></h2>
          <div style="display: none;">
            <table id="tx_tavern_data" class="transactionTable" style="display: none;">
            </table>
          </div>
          <h2 id="tx_swaps_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png" class="txIndicator" /><span>Trader</span><span id="tx_swaps_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/trader.png" class="txIcon" /></h2>
          <div style="display: none;">
            <table id="tx_swaps_data" class="transactionTable" style="display: none;">
            </table>
          </div>
          <h2 id="tx_liquidity_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png" class="txIndicator" /><span>Liquidity</span><span id="tx_liquidity_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/liquidity.png" class="txIcon" /></h2>
          <div style="display: none;">
            <table id="tx_liquidity_data" class="transactionTable" style="display: none;">
            </table>
          </div>
          <h2 id="tx_gardens_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png" class="txIndicator" /><span>Gardens</span><span id="tx_gardens_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/gardens.png" class="txIcon" /></h2>
          <div style="display: none;">
            <table id="tx_gardens_data" class="transactionTable" style="display: none;">
            </table>
          </div>
          <h2 id="tx_bank_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png" class="txIndicator" /><span>Bank</span><span id="tx_bank_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/bank.png" class="txIcon" /></h2>
          <div style="display: none;">
            <table id="tx_bank_data" class="transactionTable" style="display: none;">
            </table>
          </div>
          <h2 id="tx_alchemist_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png" class="txIndicator" /><span>Crafting</span><span id="tx_alchemist_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/alchemist.png" class="txIcon" /></h2>
          <div style="display: none;">
            <table id="tx_alchemist_data" class="transactionTable" style="display: none;">
            </table>
          </div>
          <h2 id="tx_quests_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png" class="txIndicator" /><span>Quest</span><span id="tx_quests_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/quest.png" class="txIcon" /></h2>
          <div style="display: none;">
            <table id="tx_quests_data" class="transactionTable" style="display: none;">
            </table>
          </div>
          <h2 id="tx_wallet_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/rightArrowGrey16.png" class="txIndicator" /><span>Wallet</span><span id="tx_wallet_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/wallet.png" class="txIcon" /></h2>
          <div style="display: none;">
            <table id="tx_wallet_data" class="transactionTable" style="display: none;">
            </table>
          </div>
          <h2 id="tx_airdrops_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/downArrowGrey16.png" class="txIndicator" /><span>Airdrop</span><span id="tx_airdrops_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/airdrop.png" class="txIcon" /></h2>
          <div>
            <table id="tx_airdrops_data" class="transactionTable" style="display: none;">
            </table>
          </div>
          <h2 id="tx_lending_header" class="txHeader"><img src="{{ BASE_SCRIPT_URL }}static/images/downArrowGrey16.png" class="txIndicator" /><span>Lending</span><span id="tx_lending_count"></span><img src="{{ BASE_SCRIPT_URL }}static/images/bank.png" class="txIcon" /></h2>
          <div>
            <table id="tx_lending_data" class="transactionTable" style="display: none;">
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
	<a href="{{ BASE_SCRIPT_URL }}home.py" title="Report page">Home</a> | <a href="{{ BASE_SCRIPT_URL }}help.py" title="Get help" target="_blank">Help</a> | <a href="https://github.com/pwillworth/dfkreport" title="Open Source Code for the application" target="_blank">Source</a> | <a href="https://github.com/pwillworth/dfkreport/discussions" title="Ask questions or submit ideas" target="_blank">Contact</a> | <a href="{{ BASE_SCRIPT_URL }}about.py" title="Support us and get info" target="_blank">About</a>
	<p style="padding: 4px;font-weight:normal;font-size: .7em;">This utility is intended to help quantify potential taxable events for account activity within the <a href="https://defikingdoms.com">DeFi Kingdoms</a> game.  It makes no claims at being a full accounting of your tax liablity.</p>
</div>
<div id="frame_box" style="display:none;"></div>
</body></html>
